{% ckan_extends %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    {% link_for _('About'), controller='home', action='about' %}
  </span>
{% endblock %}


{% block primary %}
  <div class="col-md-8 col-md-offset-2 gt-content">
    {% block about %}
      {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
      {% else %}
        {% snippet 'home/snippets/about_text.html' %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

