{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
    {% block banner_top %}
        <div class="area-banner-top-internas">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="title">
                            Portal de dados abertos
                        </p>
                        <p class="subtitle">
                            Dados livres, sem restrição de licenças, patentes ou mecanismos de controle
                        </p>
                        <button class="btn btn-default center-block">
                            <a href="{{ h.url('about') }}">Saiba mais</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container">
        {{ self.flash() }}
    </div>
    {% block primary_content %}
        {% snippet "home/layout{0}.html".format(homepage_style) %}
    {% endblock %}
{% endblock %}
