{% set groups = h.govdf_theme_get_non_empty_groups() %}

{% block home_1 %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Temas</h2>
      {% block groups_list %}
        {% if groups %}
            {% snippet "home/snippets/group_list.html", groups=groups %}
        {% else %}
          <p class="empty">
            {{ _('There are currently no groups for this site') }}.
            {% if h.check_access('group_create') %}
              {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
            {% endif %}
          </p>
        {% endif %}
      {% endblock %}
    </div>
  </div>
  {#% block news %}
  <div class="row">
    <div class="col-md-12">
      <h2>Aqui virão as notícias</h2>
    </div>
  </div>
  {% endblock %#}
</div>
<div class="transparence-module">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Transparência</h2>
        <div class="buttons-block center-block">
          <div class="btn btn-bordered-success">
            <a href="http://www.ouvidoria.df.gov.br" target="_blank">Ouvidoria Geral</a>
          </div>
          <div class="btn btn-bordered-success">
            <a href="http://www.sigabrasilia.df.gov.br" target="_blank">Siga Brasília</a>
          </div>
          <div class="btn btn-bordered-success">
            <a href="http://www.transparencia.df.gov.br" target="_blank">Portal da Transparência</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
