{% extends "page.html" %}

{% block subtitle %}{{ _('Perguntas frequentes') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Perguntas frequentes'), controller='home', action='questions' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block questions %}
        {% if g.site_questions %}
          {{ h.render_markdown(g.site_questions) }}
        {% else %}
          <h1 class="page-heading">{{ _('Perguntas frequentes') }}</h1>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
