<div class="module module-helper module-narrow module-shallow">
  <h2 class="module-heading">
    {{ _('O que são as Fontes de Dados?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Fontes de dados são os órgãos ou entidades do Poder Executivo do Distrito Federal que fornecem dados para publicação no Portal de Dados Abertos do DF e são os responsáveis por tais dados.
      {% endtrans %}
    </p>
  </div>
</div>