{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
{% block item %}
<div class="col-md-4">
  {% block link %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="media-view">
      <li class="organization-item">
        {% block item_inner %}
          {% block title %}
            <h3 class="organization-heading">{{ organization.display_name }}</h3>
          {% endblock %}        
          {% block datasets %}
            {% if organization.package_count %}
              <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
            {% else %}
              <span class="count">{{ _('0 Datasets') }}</span>
            {% endif %}
          {% endblock %}    
        {% endblock %}
      </li>
    </a>
  {% endblock %}  
</div>
{% endblock %}
{#% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %#}
