<div id="rodape">
    <div id="rodape-principal">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h4><a href="#">
                        O portal</a></h4>
                    <p>
                        <a href="{{ h.url('dataset') }}">
                            Catálogo de Dados
                        </a>
                    </p>
                    <p>
                        <a href="/mapa">
                            Mapa do site
                        </a>
                    </p>
                    <p>
                        <a href="{% url_for controller='home', action='about' %}">
                            Sobre o portal
                        </a>
                    </p>
                    <p>
                        <a href="/outros-dados">
                            Sugira dados
                        </a>
                    </p>
                    <p>
                        <a href="/perguntas">
                            Perguntas frequentes
                        </a>
                    </p>
                    <p>
                        <a href="/contato">
                            Contatos
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>
                        <a href="#">
                            Manuais
                        </a>
                    </h4>
                    <p>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/Manual_Dados_Abertos_WEB.pdf" target="_blank">
                            Manual de Dados Abertos W3C
                        </a>
                    </p>
                    <p>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/manual_dados_abertos_desenvolvedores_web.pdf" target="_blank">
                            Manual do desenvolvedor W3C
                        </a>
                    </p>
                    <p>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/encarte_manual_desenvolvedores_web.pdf" target="_blank">
                            Cartilha do desenvolvedor W3C
                        </a>
                    </p>
                    <p>
                        <a href="http://opendatahandbook.org/guide/pt_BR/" target="_blank">
                            Guia de Dados Abertos OKFn
                        </a>
                    </p>
                    <p>
                        <a href="/Manual_Dados_Abertos_DF.pdf" target="_blank">
                            Manual Dados Abertos DF
                        </a>
                    </p>
                    <p>
                        <a href="/Guia_Prático_para_Elaboração_de_Plano_de_Dados_Abertos_DF.pdf" target="_blank">
                            Guia Prático para Elaboração de Plano de Dados Abertos DF
                        </a>
                    </p>
                    <p>
                        <a href="/Modelo_de_Plano_de_Dados_Abertos_DF.docx" target="_blank">
                            Modelo de Plano de Dados Abertos DF
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4><a href="#">
                        Saiba mais</a></h4>
                    <p>
                        <a href="/dados-abertos">
                            O que são dados abertos?
                        </a>
                    </p>
                    <p>
                        <a href="http://www.brasilia.df.gov.br/acessoainformacao" target="_blank">
                            Lei de acesso a informação
                        </a>
                    </p>
                    <p>
                        <a href="http://wiki.gtinda.ibge.gov.br/" target="_blank">
                            Wiki da INDA
                        </a>
                    </p>
                    <p>
                        <a href="http://dados.gov.br/paginas/instrucao-normativa-da-inda" target="_blank">
                            Instrução Normativa da INDA
                        </a>
                    </p>
                    <p>
                        <a href="http://dados.gov.br/" target="_blank">
                            Portal Brasileiro de Dados Abertos
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 attribution">
                    {% block footer_attribution %}
                        <h4>Impulsionado por</h4>
                        <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div id="rodape-mobile">
        <div class="container">
            <div class="row margin-bottom-40">
                <div class="col-md-12">
                    <h4><a href="/mapa">Mapa do site</a></h4>
                    <h4><a href="/outros-dados">Sugira dados</a></h4>
                    <h4><a href="/dados-abertos">O que são dados abertos</a></h4>
                    <h4>Manuais</h4>
                    <h5>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/Manual_Dados_Abertos_WEB.pdf" target="_blank">
                            Manual de Dados Abertos W3C
                        </a>
                    </h5>
                    <h5>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/manual_dados_abertos_desenvolvedores_web.pdf" target="_blank">
                            Manual do desenvolvedor W3C
                        </a>
                    </h5>
                    <h5>
                        <a href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/encarte_manual_desenvolvedores_web.pdf" target="_blank">
                            Cartilha do desenvolvedor W3C
                        </a>
                    </h5>
                    <h5>
                        <a href="http://opendatahandbook.org/guide/pt_BR/" target="_blank">
                            Guia de Dados Abertos OKFn
                        </a>
                    </h5>
                    <h4><a href="/contato">Contato</a></h4>

                    <div id="icones-rodape">
                        <a href="https://www.youtube.com/user/govdf" target="_blank">
                            <span class="icon-youtube"></span>
                        </a>
                        <a href="https://instagram.com/gov_df/" target="_blank">
                            <span class="icon-instagram"></span>
                        </a>
                        <a href="https://twitter.com/gov_df" target="_blank">
                            <span class="icon-twitter"></span>
                        </a>
                        <a href="https://www.facebook.com/govdf?ref=ts&amp;fref=ts" target="_blank">
                            <span class="icon-facebook"></span>
                        </a>
                    </div>
                </div>
            </div>
            <h2>Governo de Brasília</h2>
            <h3>Palácio do Buriti, Praça do Buriti Brasília - DF / CEP 70075-900</h3> </div>
    </div>
    {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</div>
