{% ckan_extends %}

{% block header_wrapper %}

    {% block header_gdf_pattern %}
    <div id="topo-site">
        {% block header_institutional%}
            <div id="barra-superior">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <!-- Menu para mobile -->
                        <div class="navbar-header">
                            <div class="ico-brand">
                                <a class="navbar-brand" href="{{ h.url_for('home') }}"> <img src="/topo-mobile.png" alt="Portal do Governo de Brasília"> </a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <!-- Menu para Desktop/Tablet -->
                        <div class="collapse navbar-collapse in" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                {#{ h.build_nav_main(
                                    ('search', _('Dados')),
                                    ('organizations_index', _('Fontes de dados')),
                                    ('group_index', _('Temas')),
                                    ('perguntas', _('Perguntas frequentes')),
                                    ('about', _('Sobre o portal'))
                                ) }#}
                                <li>
                                    <a href="{{ h.url_for('search')}}" class="menu-superior-escondido">Dados</a>
                                </li>
                                <li>
                                    <a href="{{ h.url_for('organizations_index')}}" class="menu-superior-escondido">Fontes de dados</a>
                                </li>
                                <li>
                                    <a href="{{ h.url_for('group_index')}}" class="menu-superior-escondido">Temas</a>
                                </li>
                                <li>
                                    <a href="{{ h.url_for('perguntas')}}" class="menu-superior-escondido">Perguntas Frequentes</a>
                                </li>
                                <li>
                                    <a href="{{ h.url_for('about')}}" class="menu-superior-escondido">Sobre o portal</a>
                                </li>
                                {#
                                    <li><a href="http://df.gov.br/index.php/category/sobre-brasilia/" class="menu-superior-escondido" target="_blank">Sobre Brasília</a>
                                    </li>
                                    <li><a href="http://df.gov.br/index.php/category/sobre-o-governo/" class="menu-superior-escondido" target="_blank">Sobre o Governo</a>
                                    </li>
                                    <li><a href="http://df.gov.br/index.php/category/servicos/" class="menu-superior-escondido" target="_blank">Serviços</a>
                                    </li>
                                    <li><a href="http://df.gov.br/index.php/category/programas/" class="menu-superior-escondido" target="_blank">Programas</a>
                                    </li>
                                    <li style="background-color:#dfdfdf;">
                                        <a href="http://df.gov.br/index.php/fale-com-o-governo/" class="menu-superior-escondido" style="padding:15px 40px"  target="_blank">
                                            <span style="color:green;">
                                                <img src="/ico-fale-mobile.svg" alt="Portal do Governo de Brasília" style="width:">
                                                Fale com o governo
                                            </span>
                                        </a>
                                    </li>
                                #}
                                <li><a href="http://www.transparencia.df.gov.br/" target="_blank">Transparência <span class="sr-only">(current)</span></a>
                                </li>
                                <li><a href=" http://www.ouvidoria.df.gov.br/" target="_blank">Ouvidoria</a>
                                </li>
                                <li><a href="http://df.gov.br/index.php/2015/10/26/explicacao/" target="_blank">Acesso à Informação</a>
                                </li>
                                <li><a href="http://www.dodf.df.gov.br/" target="_blank">Diário Oficial</a>
                                </li>
                                <li><a href="http://www.df.gov.br/agencia-brasilia.html" target="_blank">Agência Brasília</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="http://df.gov.br/index.php/acessibilidade/"  target="_blank">Acessibilidade</a>
                                </li>
                                <li class="separador">|</li>
                                <li class="areaAcessibilidade">
                                    <a id="popoverAcessibilidade" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-original-title="" title="">
                                        A
                                        <span class="aMenor">A</span>
                                    </a>
                                </li>
                                <li class="separador">|</li>
                                <a href="http://www.vlibras.gov.br/" target="_blank"><img src="/ico-vlibras.svg" alt="Vlibras" style="margin-bottom: -10px; margin-left:20px;">
                                </a>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        {% endblock %}


        {% if c.userobj %}
            {% block header_account %}
                {{ super() }}
            {% endblock %}
        {% endif %}

        <div class="fale-com-o-governo-sm">
            <a class="img-fale-governo" href="http://df.gov.br/index.php/fale-com-o-governo/  target="_blank"">
                <img src="/fale_governo.png" alt="Fale com o governo">
            </a>
        </div>

        <div id="barra-superior-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div id="ancoras">
                            <a href="#header-search-input">Ir para busca</a> |
                            <a href="#ir-para-menu">Ir para o menu</a> |
                            <a href="#conteudo-portal">Ir para o conteúdo</a> |
                            <a href="#rodape">Ir para rodapé</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 titulo-portal">
                        <h1><a href="{{ h.url('home') }}">DADOS ABERTOS</a></h1>
                    </div>
                    <div class="col-md-5 text-right">
                        <div id="icones">
                            <!-- <a href="https://www.youtube.com/user/govdf" target="_blank"><span class="im-youtube"></span></a>
                            <a href="https://instagram.com/gov_df/" target="_blank"><span class="im-instagram"></span></a>
                            <a href="https://twitter.com/gov_df" target="_blank"><span class="im-twitter"></span></a>
                            <a href="https://www.facebook.com/govdf?ref=ts&amp;fref=ts" target="_blank"><span class="im-facebook"></span></a> -->
                            <a class="img-fale-governo" href="http://df.gov.br/index.php/fale-com-o-governo/"  target="_blank"><img src="/fale_governo.png" alt="Fale com o governo"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area-menu-superior">
                <div class="container">
                    <div class="img-logo">
                        <a href="{{ h.url('home') }}">
                            <img src="/logogdf.png" alt="Portal do Governo de Brasília">
                        </a>
                    </div>
                    <div class="area-busca-menu">
                        <div class="area-menu pull-right" id="ir-para-menu">
                            <ul class="menu">
                                {{ h.build_nav_main(
                                    ('search', _('Dados')),
                                    ('organizations_index', _('Fontes de dados')),
                                    ('group_index', _('Temas')),
                                    ('perguntas', _('Perguntas frequentes')),
                                    ('about', _('Sobre o portal'))
                                ) }}
                            </ul>
                        </div>
                        {% block serach_input %}
                            <div class="head-area-busca">
                                <form class="ngen-search-form" method="get" action="{% url_for controller='package', action='search' %}">
                                    <input id="header-search-input" type="text" class="search txt-busca" name="q" value="{{ query }}" autocomplete="off" placeholder="Digite aqui o que você procura">
                                    {% block search_input_button %}
                                      <div id="header-search-trigger" type="submit" value="search" class="btn-procurar btn-procurar-pr">
                                        <span class="glyphicon glyphicon-search"></span>
                                      </div>
                                    {% endblock %}
                                </form>
                            </div>
                        {% endblock %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


{% endblock %}
