{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <h2 class="heading hidden-sm hidden-xs">{{ pkg.title or pkg.name }}</h2>
            {% endblock %}
            {#% block follow_button %}
              {% if not hide_follow_button %}
                <div class="follow_button">
                  {{ h.follow_button('dataset', pkg.name) }}
                </div>
              {% endif %}
            {% endblock %#}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
