{% ckan_extends %}

  {#% block resource_item_explore %}{% endblock %#}

  {% block resource_item_explore %}
    {% if not url_is_edit %}
      <div class="btn-group">
        <button href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          {{ _('Explore') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% block resource_item_explore_links %}
          <li>
            <a href="{{ url }}">
              {% if res.has_views %}
                {{ _('Preview') }}
              {% else %}
                {{ _('More information') }}
              {% endif %}
            </a>
          </li>
          {% if res.url and h.is_url(res.url) %}
          <li>
            <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
              {% if res.has_views %}
                {{ _('Download') }}
              {% else %}
                {{ _('Go to resource') }}
              {% endif %}
            </a>
          </li>
          {% endif %}
          {% if can_edit %}
          <li>
            <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
              {{ _('Edit') }}
            </a>
          </li>
          {% endif %}
          {% endblock %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}
