{# Used to insert the home item into a breadcrumb #}
<span property="itemListElement" typeof="ListItem">
  <a property="item" typeof="WebPage" title="Go to Portal dos dados abertos de Brasília." href="{{ h.url('home') }}" class="home">Dados Abertos
  </a>
</span> &gt;