{% ckan_extends %}

  {% block social %}
    <div class="panel panel-secondary panel-menu-servico">
      {% block social_title %}
        <div class="panel-heading">
          {{ _('Compartilhe') }}
        </div>
      {% endblock %}
      {% block social_nav %}
      <div class="social-icones">
        <a href="https://twitter.com/share?url={{ current_url }}" target="_blank">
          <span class="im-twitter"></span>
        </a>
        <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
          <span class="im-facebook"></span>
        </a>
      </div>
      {% endblock %}
    </div>
  {% endblock %}