<div class="module module-helper module-narrow module-shallow">
  <h2 class="module-heading">
    {{ _('O que são temas?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Você pode usar TEMAS (p. ex. Saúde, Educação, Transporte) 
        para criar e gerenciar dados  por assuntos, de forma a 
        ajudar quem consulta o Portal de Dados Abertos a encontrar 
        ou buscar dados  referentes a assuntos comuns
      {% endtrans %}
    </p>
  </div>
</div>