{% block info %}
<div class="module context-info">
  <section class="panel panel-secondary panel-menu-servico">
    {% block inner %}
      {% block image %}
        <div class="group-icon center-block">
          <a href="{{ group.url }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
          </a>
        </div>
      {% endblock %}
      <div class="panel-body">
        {% block heading %}
          <h3 class="titulo">
            {{ group.display_name }}
            {% if group.state == 'deleted' %}
              [{{ _('Deleted') }}]
            {% endif %}
          </h3>
        {% endblock %}
        {% block description %}
          {% if group.description %}
            <p class="text">
              {{ h.markdown_extract(group.description, 180) }}
              {% link_for _('read more'), controller='group', action='about', id=group.name %}
            </p>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  </section>
</div>
{% endblock %}
