{#    
Renders a item for an accordion . This should be used in a list.


Example:

    <div class="panel-group" role="tablist" aria-multiselectable="true">
      {% for item in items %}
        {% snippet "snippets/ask_item.html", ask=ask %}
      {% endfor %}
    </div>
#}

<div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#perguntaOne" aria-expanded="true" aria-controls="collapseOne">
          {{ ask.title }}
        </a>
      </h4>
    </div>
    <div id="perguntaOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {{ ask.content }}
      </div>
    </div>
  </div>