<div class="panel-group accordion" id="perguntas" role="tablist" aria-multiselectable="true">

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-1">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-1" aria-expanded="true" aria-controls="collapseOne">
          Como eu utilizo o dados.df.gov.br?
        </a>
      </h4>
    </div>
    <div id="p-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="p-head-1">
      <div class="panel-body">
        <p>Utilize as diversas ferramentas de navegação para encontrar o conjunto de dados que você procura. Além das ferramentas disponíveis na página principal, a página Dados disponibiliza mais ferramentas para sua busca por dados. É possível filtrar, por exemplo, por etiquetas, grupos e formatos. Você também pode utilizar a caixa de busca para consultar algo mais específico.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-2" aria-expanded="false" aria-controls="collapseTwo">
          O que são Dados Abertos?
        </a>
      </h4>
    </div>
    <div id="p-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-2">
      <div class="panel-body">
        <p>Dados Abertos são dados que são livremente disponíveis para todos utilizarem e redistribuírem como desejarem, sem restrição de licenças, patentes ou mecanismos de controle. A filosofia de dados abertos estipula apenas algumas restrições tecnológicas no sentido de se evitar o uso de formatos proprietários como PDF, XLS, DOC, etc.</p>

        <p>Todo dado público tem vocação para ser dado aberto. Como praticamente todo dado governamental é público, é fundamental que os governos implementem políticas para disponibilizá-los.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-3">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-3" aria-expanded="false" aria-controls="collapseThree">
          O que é a Infraestrutura Nacional de Dados Abertos – INDA?
        </a>
      </h4>
    </div>
    <div id="p-3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-">
      <div class="panel-body">
        <p>A Infraestrutura Nacional de Dados Abertos é um conjunto de padrões, tecnologias, procedimentos e mecanismos de controle necessários para atender às condições de disseminação e compartilhamento de dados e informações públicas no modelo de Dados Abertos, em conformidade com o disposto na <a href="http://eping.governoeletronico.gov.br" target="_blank">e-PING</a>. A INDA é a política do governo brasileiro para dados abertos. O Distrito Federal fez sua adesão formal à INDA e, portanto, adota-a trabalhando em conjunto com o Governo Federal nesse sentido.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-4">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-4" aria-expanded="false" aria-controls="collapseThree">
          Como posso catalogar dados do meu órgão?
        </a>
      </h4>
    </div>
    <div id="p-4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-4">
      <div class="panel-body">
        <p>O Portal Distrital de Dados Abertos é o ponto central para a busca e o acesso aos dados públicos do Distrito Federal. Cada órgão é responsável pela catalogação no portal dados.df.gov.br daqueles dados que publica na Internet.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-5">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-5" aria-expanded="false" aria-controls="collapseThree">
          O que é um Mashup?
        </a>
      </h4>
    </div>
    <div id="p-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-5">
      <div class="panel-body">
        <p>Mashup é um termo que vem do inglês e significar misturar ou mixar. Em termos tecnológicos, é uma página, ou um serviço web, que combina dados ou código de duas ou mais fontes. Ele geralmente fornece mais informação e funcionalidade do que os dados e códigos originais. O sucesso dos mashups vem da facilidade com que novos aplicativos podem ser construídos na Internet. Um mashup pode ser uma visualização, um infográfico, um serviço em uma página ou um aplicativo para celular.</p>

        <p>Estamos disponibilizando dados para que você possa criar coisas novas. Utilize sua imaginação, crie, e compartilhe.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-6">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-6" aria-expanded="false" aria-controls="collapseThree">
          Como eu posso compartilhar meus aplicativos e visualizações?
        </a>
      </h4>
    </div>
    <div id="p-6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-6">
      <div class="panel-body">
        <p>A Internet é o melhor ambiente para o compartilhamento de conteúdo digital. A forma mais rápida para você compartilhar é publicando em um blog ou qualquer outro ambiente acessível publicamente na Internet, e assim espalhar o endereço, a URL, do seu aplicativo. Além disso, temos a intenção de ordenar e democratizar o acesso à serviços e aplicativos construídos sobre os dados aberto disponibilizando-os aqui no portal. Se você desenvolveu um aplicativo que utiliza algum conjunto de dados do dados.df.gov.br, nós adoraríamos conhecê-lo. Nosso objetivo é referenciar o seu aplicativo no portal e divulgá-lo para que mais pessoas possam utilizá-lo. Faça contato com a <a href="http://www.cg.df.gov.br/" target="_blank">Controladoria-Geral do DF</a> para saber mais a respeito.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-7">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-7" aria-expanded="false" aria-controls="collapseThree">
          Quem desenvolveu o dados.df.gov.br?
        </a>
      </h4>
    </div>
    <div id="p-7" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-7">
      <div class="panel-body">
        <p>O portal faz parte da <a href="http://wiki.dados.gov.br/" target="_blank">Infraestrutura Nacional de Dados Abertos – INDA</a>. Assim como este, os produtos da INDA são desenvolvidos com ampla participação da sociedade. Nós fazemos inovação aberta no governo, isso é <a href="http://www.governoaberto.cgu.gov.br/a-ogp/o-que-e-governo-aberto" target="_blank">governo aberto</a>.</p>

        <p>No Distrito Federal, este projeto é coordenado pela Controladoria-Geral do Distrito Federal. Contamos com a participação de todos os setores da sociedade, incluindo academia, setor privado, órgãos públicos e grupos da sociedade organizada.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-8" aria-expanded="false" aria-controls="collapseThree">
          O que são metadados?
        </a>
      </h4>
    </div>
    <div id="p-8" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-8">
      <div class="panel-body">
        <p>Metadados são geralmente descritos como dados sobre dados. Metadados são essenciais na organização e classificação de conjuntos de dados. Todo conjunto de dados estruturado faz uso de metadado para descrever a estrutura e os tipos de dados contidos no conjunto. O portal dados.df.gov.br faz uso extenso de metadados. Na sua essência ele é um motor de busca de dados, e para isso armazena apenas os metadados.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-9">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-9" aria-expanded="false" aria-controls="collapseThree">
          Qual a diferença deste Portal para os portais de transparência?
        </a>
      </h4>
    </div>
    <div id="p-9" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-9">
      <div class="panel-body">
        <p>A <a href="http://www.lexml.gov.br/urn/urn:lex:br:federal:lei.complementar:2009-05-27;131" target="_blank">Lei Complementar 131, de 27 de maio de 2009</a>, que alterou a redação da <a href="http://www.lexml.gov.br/urn/urn:lex:br:federal:lei.complementar:2000-05-04;101" target="_blank">Lei de Responsabilidade Fiscal</a> no que se refere à transparência da gestão fiscal, determina a disponibilização de informações pormenorizadas sobre a execução orçamentária e financeira da União, dos Estados, do Distrito Federal e dos Municípios. Em outras palavras, os portais de transparências têm o objetivo de aumentar o controle das despesas e receitas no governo.</p>

        <p>O portal dados.df.gov.br tem o objetivo de ser o ponto único referencial para a busca e o acesso à dados públicos distritais de todo e qualquer assunto ou categoria. Ele é um serviço simplificado que organiza e padroniza o acesso aos dados públicos, primando pelo reuso dos dados e o uso de tecnologias modernas.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-10">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-10" aria-expanded="false" aria-controls="collapseThree">
          O que são conjuntos de dados e recursos?
        </a>
      </h4>
    </div>
    <div id="p-10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-10">
      <div class="panel-body">
        <p>Os dados catalogados no portal estão organizados utilizando as estruturas de conjuntos de dados e recursos. Os conjuntos de dados são as entidades principais retornadas a partir das buscas. Cada conjunto de dados possui uma descrição, um ou mais recursos, e uma série de outros metadados, como periodicidade de atualização e órgão responsável. Exemplos de conjuntos de dados são uma coleção de tabelas relacionadas entre si, dados extraídos de um mesmo sistema de informações, ou ainda uma API de dados abertos. Um conjunto de dados deve possuir pelo menos um recurso que seja dado aberto.</p>
        <p>Cada recurso compreende uma fonte de dados. Pode ser um arquivo como uma planilha, um método de webservice / API>/abbr> ou um documento.</p>
        <p>A princípio cada recurso poderia ser catalogado como um conjunto de dados separado, porém é preferível que os recursos sejam agrupados, sempre que forem oriundos da mesma base de dados, ou possuírem metadados em comum, para facilitar a busca e o entendimento de seu conteúdo.</p>
        <p>Para conhecer uma definição do que são conjuntos de dados, consulte <a href="https://www.w3.org/TR/vocab-dcat/#class-dataset" target="_blank">a definição do W3C no Data Catalog Vocabulary</a>. Para exemplos de um conceito mais amplo, adotado pelo Google, veja <a href="https://developers.google.com/search/docs/data-types/datasets#what-qualifies-as-a-dataset" target="_blank">as orientações</a> que essa empresa disponibiliza para desenvolvedores.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-11" aria-expanded="false" aria-controls="collapseThree">
          O portal tem algum dado pessoal ou sigiloso?
        </a>
      </h4>
    </div>
    <div id="p-11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-11">
      <div class="panel-body">
        <p>Os dados que estiverem sujeitos a restrições de sigilo (art. 25) ou de privacidade (art. 31), conforme definidos na Lei de Acesso à Informação, precisam ser previamente classificados pelos seus responsáveis como tais, a partir de sua origem (art. 27) e por definição não são dados abertos. Assim, eles não passam pelo processo de abertura e não devem ser catalogados no <a href="http://www.dados.df.gov.br">Portal de Dados Abertos</a>, podendo, em caso de descumprimento, o órgão ou entidade ser responsabilizado nos termos do art. 34.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="p-head-12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#perguntas" data-target="#p-12" aria-expanded="false" aria-controls="collapseThree">
          Quem é responsável pelos dados catalogados no portal?
        </a>
      </h4>
    </div>
    <div id="p-12" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="p-head-12">
      <div class="panel-body">
        <p>O Portal Distrital de Dados Abertos organiza os dados abertos em um catálogo para fácil localização pelo cidadão. Entretanto, os responsáveis pelos dados são as organizações públicas que os publicam. Por isso cada uma dessas organizações que responde pelos seus próprios dados.</p>
        <p>Se você procura mais informações ou esclarecimentos sobre um conjunto de dados específico, procure na própria página do conjunto de dados a seção <strong>"Informações Adicionais"</strong>. Nela há um campo <strong>"Autor"</strong>. Procure o nome do órgão que consta no valor desse campo para entrar em contato.</p>
        <p>Manter os dados no ar também é responsabilidade do órgão que o publica. Caso um conjunto de dados esteja fora do ar ou apresentando problemas técnicos, procure na própria página do conjunto de dados a seção <strong>"Informações Adicionais"</strong>. Nela há um campo <strong>"Mantenedor"</strong>. Procure o nome do órgão que consta no valor desse campo para entrar em contato.</p>
        <p>No caso de não constar e-mail de contato nesses campos, sugerimos procurar o site do órgão e localizar as opções <strong>"Institucional"</strong> e/ou “Contato”.</p>
      </div>
    </div>
  </div>

</div>
