{% ckan_extends %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem">
    {% link_for _('Groups'), controller='group', action='index' %}
  </span> &gt;
  <span property="itemListElement" typeof="ListItem" class="active">
    {% link_for c.group_dict.display_name|truncate(35), controller='group', action='read', id=c.group_dict.name %}
  </span>
{% endblock %}    

{% block content_primary_nav %}
  {{ h.build_nav('group_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav('group_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav('group_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
