@font-face {
    font-family: 'icomoon';
    src:    url('../../../../fonts2/icomoon.eot?1x05y2');
    src:    url('../../../../fonts2/icomoon.eot?1x05y2#iefix') format('embedded-opentype'),
        url('../../../../fonts2/icomoon.ttf?1x05y2') format('truetype'),
        url('../../../../fonts2/icomoon.woff?1x05y2') format('woff'),
        url('../../../../fonts2/icomoon.svg?1x05y2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="im-"], [class*=" im-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.im-home:before {
    content: "\e901";
}
.im-home2:before {
    content: "\e902";
}
.im-home3:before {
    content: "\e903";
}
.im-office:before {
    content: "\e904";
}
.im-newspaper:before {
    content: "\e905";
}
.im-pencil:before {
    content: "\e906";
}
.im-pencil2:before {
    content: "\e907";
}
.im-quill:before {
    content: "\e908";
}
.im-pen:before {
    content: "\e909";
}
.im-blog:before {
    content: "\e90a";
}
.im-eyedropper:before {
    content: "\e90b";
}
.im-droplet:before {
    content: "\e90c";
}
.im-paint-format:before {
    content: "\e90d";
}
.im-image:before {
    content: "\e90e";
}
.im-images:before {
    content: "\e90f";
}
.im-camera:before {
    content: "\e910";
}
.im-headphones:before {
    content: "\e911";
}
.im-music:before {
    content: "\e912";
}
.im-play:before {
    content: "\e913";
}
.im-film:before {
    content: "\e914";
}
.im-video-camera:before {
    content: "\e915";
}
.im-dice:before {
    content: "\e916";
}
.im-pacman:before {
    content: "\e917";
}
.im-spades:before {
    content: "\e918";
}
.im-clubs:before {
    content: "\e919";
}
.im-diamonds:before {
    content: "\e91a";
}
.im-bullhorn:before {
    content: "\e91b";
}
.im-connection:before {
    content: "\e91c";
}
.im-podcast:before {
    content: "\e91d";
}
.im-feed:before {
    content: "\e91e";
}
.im-mic:before {
    content: "\e91f";
}
.im-book:before {
    content: "\e920";
}
.im-books:before {
    content: "\e921";
}
.im-library:before {
    content: "\e922";
}
.im-file-text:before {
    content: "\e923";
}
.im-profile:before {
    content: "\e924";
}
.im-file-empty:before {
    content: "\e925";
}
.im-files-empty:before {
    content: "\e926";
}
.im-file-text2:before {
    content: "\e927";
}
.im-file-picture:before {
    content: "\e928";
}
.im-file-music:before {
    content: "\e929";
}
.im-file-play:before {
    content: "\e92a";
}
.im-file-video:before {
    content: "\e92b";
}
.im-file-zip:before {
    content: "\e92c";
}
.im-copy:before {
    content: "\e92d";
}
.im-paste:before {
    content: "\e92e";
}
.im-stack:before {
    content: "\e92f";
}
.im-folder:before {
    content: "\e930";
}
.im-folder-open:before {
    content: "\e931";
}
.im-folder-plus:before {
    content: "\e932";
}
.im-folder-minus:before {
    content: "\e933";
}
.im-folder-download:before {
    content: "\e934";
}
.im-folder-upload:before {
    content: "\e935";
}
.im-price-tag:before {
    content: "\e936";
}
.im-price-tags:before {
    content: "\e937";
}
.im-barcode:before {
    content: "\e938";
}
.im-qrcode:before {
    content: "\e939";
}
.im-ticket:before {
    content: "\e93a";
}
.im-cart:before {
    content: "\e93b";
}
.im-coin-dollar:before {
    content: "\e93c";
}
.im-coin-euro:before {
    content: "\e93d";
}
.im-coin-pound:before {
    content: "\e93e";
}
.im-coin-yen:before {
    content: "\e93f";
}
.im-credit-card:before {
    content: "\e940";
}
.im-calculator:before {
    content: "\e941";
}
.im-lifebuoy:before {
    content: "\e942";
}
.im-phone:before {
    content: "\e943";
}
.im-phone-hang-up:before {
    content: "\e944";
}
.im-address-book:before {
    content: "\e945";
}
.im-envelop:before {
    content: "\e946";
}
.im-pushpin:before {
    content: "\e947";
}
.im-location:before {
    content: "\e948";
}
.im-location2:before {
    content: "\e949";
}
.im-compass:before {
    content: "\e94a";
}
.im-compass2:before {
    content: "\e94b";
}
.im-map:before {
    content: "\e94c";
}
.im-map2:before {
    content: "\e94d";
}
.im-history:before {
    content: "\e94e";
}
.im-clock:before {
    content: "\e94f";
}
.im-clock2:before {
    content: "\e950";
}
.im-alarm:before {
    content: "\e951";
}
.im-bell:before {
    content: "\e952";
}
.im-stopwatch:before {
    content: "\e953";
}
.im-calendar:before {
    content: "\e954";
}
.im-printer:before {
    content: "\e955";
}
.im-keyboard:before {
    content: "\e956";
}
.im-display:before {
    content: "\e957";
}
.im-laptop:before {
    content: "\e958";
}
.im-mobile:before {
    content: "\e959";
}
.im-mobile2:before {
    content: "\e95a";
}
.im-tablet:before {
    content: "\e95b";
}
.im-tv:before {
    content: "\e95c";
}
.im-drawer:before {
    content: "\e95d";
}
.im-drawer2:before {
    content: "\e95e";
}
.im-box-add:before {
    content: "\e95f";
}
.im-box-remove:before {
    content: "\e960";
}
.im-download:before {
    content: "\e961";
}
.im-upload:before {
    content: "\e962";
}
.im-floppy-disk:before {
    content: "\e963";
}
.im-drive:before {
    content: "\e964";
}
.im-database:before {
    content: "\e965";
}
.im-undo:before {
    content: "\e966";
}
.im-redo:before {
    content: "\e967";
}
.im-undo2:before {
    content: "\e968";
}
.im-redo2:before {
    content: "\e969";
}
.im-forward:before {
    content: "\e96a";
}
.im-reply:before {
    content: "\e96b";
}
.im-bubble:before {
    content: "\e96c";
}
.im-bubbles:before {
    content: "\e96d";
}
.im-bubbles2:before {
    content: "\e96e";
}
.im-bubble2:before {
    content: "\e96f";
}
.im-bubbles3:before {
    content: "\e970";
}
.im-bubbles4:before {
    content: "\e971";
}
.im-user:before {
    content: "\e972";
}
.im-users:before {
    content: "\e973";
}
.im-user-plus:before {
    content: "\e974";
}
.im-user-minus:before {
    content: "\e975";
}
.im-user-check:before {
    content: "\e976";
}
.im-user-tie:before {
    content: "\e977";
}
.im-quotes-left:before {
    content: "\e978";
}
.im-quotes-right:before {
    content: "\e979";
}
.im-hour-glass:before {
    content: "\e97a";
}
.im-spinner:before {
    content: "\e97b";
}
.im-spinner2:before {
    content: "\e97c";
}
.im-spinner3:before {
    content: "\e97d";
}
.im-spinner4:before {
    content: "\e97e";
}
.im-spinner5:before {
    content: "\e97f";
}
.im-spinner6:before {
    content: "\e980";
}
.im-spinner7:before {
    content: "\e981";
}
.im-spinner8:before {
    content: "\e982";
}
.im-spinner9:before {
    content: "\e983";
}
.im-spinner10:before {
    content: "\e984";
}
.im-spinner11:before {
    content: "\e985";
}
.im-binoculars:before {
    content: "\e986";
}
.im-search:before {
    content: "\e987";
}
.im-zoom-in:before {
    content: "\e988";
}
.im-zoom-out:before {
    content: "\e989";
}
.im-enlarge:before {
    content: "\e98a";
}
.im-shrink:before {
    content: "\e98b";
}
.im-enlarge2:before {
    content: "\e98c";
}
.im-shrink2:before {
    content: "\e98d";
}
.im-key:before {
    content: "\e98e";
}
.im-key2:before {
    content: "\e98f";
}
.im-lock:before {
    content: "\e990";
}
.im-unlocked:before {
    content: "\e991";
}
.im-wrench:before {
    content: "\e992";
}
.im-equalizer:before {
    content: "\e993";
}
.im-equalizer2:before {
    content: "\e994";
}
.im-cog:before {
    content: "\e995";
}
.im-cogs:before {
    content: "\e996";
}
.im-hammer:before {
    content: "\e997";
}
.im-magic-wand:before {
    content: "\e998";
}
.im-aid-kit:before {
    content: "\e999";
}
.im-bug:before {
    content: "\e99a";
}
.im-pie-chart:before {
    content: "\e99b";
}
.im-stats-dots:before {
    content: "\e99c";
}
.im-stats-bars:before {
    content: "\e99d";
}
.im-stats-bars2:before {
    content: "\e99e";
}
.im-trophy:before {
    content: "\e99f";
}
.im-gift:before {
    content: "\e9a0";
}
.im-glass:before {
    content: "\e9a1";
}
.im-glass2:before {
    content: "\e9a2";
}
.im-mug:before {
    content: "\e9a3";
}
.im-spoon-knife:before {
    content: "\e9a4";
}
.im-leaf:before {
    content: "\e9a5";
}
.im-rocket:before {
    content: "\e9a6";
}
.im-meter:before {
    content: "\e9a7";
}
.im-meter2:before {
    content: "\e9a8";
}
.im-hammer2:before {
    content: "\e9a9";
}
.im-fire:before {
    content: "\e9aa";
}
.im-lab:before {
    content: "\e9ab";
}
.im-magnet:before {
    content: "\e9ac";
}
.im-bin:before {
    content: "\e9ad";
}
.im-bin2:before {
    content: "\e9ae";
}
.im-briefcase:before {
    content: "\e9af";
}
.im-airplane:before {
    content: "\e9b0";
}
.im-truck:before {
    content: "\e9b1";
}
.im-road:before {
    content: "\e9b2";
}
.im-accessibility:before {
    content: "\e9b3";
}
.im-target:before {
    content: "\e9b4";
}
.im-shield:before {
    content: "\e9b5";
}
.im-power:before {
    content: "\e9b6";
}
.im-switch:before {
    content: "\e9b7";
}
.im-power-cord:before {
    content: "\e9b8";
}
.im-clipboard:before {
    content: "\e9b9";
}
.im-list-numbered:before {
    content: "\e9ba";
}
.im-list:before {
    content: "\e9bb";
}
.im-list2:before {
    content: "\e9bc";
}
.im-tree:before {
    content: "\e9bd";
}
.im-menu:before {
    content: "\e9be";
}
.im-menu2:before {
    content: "\e9bf";
}
.im-menu3:before {
    content: "\e9c0";
}
.im-menu4:before {
    content: "\e9c1";
}
.im-cloud:before {
    content: "\e9c2";
}
.im-cloud-download:before {
    content: "\e9c3";
}
.im-cloud-upload:before {
    content: "\e9c4";
}
.im-cloud-check:before {
    content: "\e9c5";
}
.im-download2:before {
    content: "\e9c6";
}
.im-upload2:before {
    content: "\e9c7";
}
.im-download3:before {
    content: "\e9c8";
}
.im-upload3:before {
    content: "\e9c9";
}
.im-sphere:before {
    content: "\e9ca";
}
.im-earth:before {
    content: "\e9cb";
}
.im-link:before {
    content: "\e9cc";
}
.im-flag:before {
    content: "\e9cd";
}
.im-attachment:before {
    content: "\e9ce";
}
.im-eye:before {
    content: "\e9cf";
}
.im-eye-plus:before {
    content: "\e9d0";
}
.im-eye-minus:before {
    content: "\e9d1";
}
.im-eye-blocked:before {
    content: "\e9d2";
}
.im-bookmark:before {
    content: "\e9d3";
}
.im-bookmarks:before {
    content: "\e9d4";
}
.im-sun:before {
    content: "\e9d5";
}
.im-contrast:before {
    content: "\e9d6";
}
.im-brightness-contrast:before {
    content: "\e9d7";
}
.im-star-empty:before {
    content: "\e9d8";
}
.im-star-half:before {
    content: "\e9d9";
}
.im-star-full:before {
    content: "\e9da";
}
.im-heart:before {
    content: "\e9db";
}
.im-heart-broken:before {
    content: "\e9dc";
}
.im-man:before {
    content: "\e9dd";
}
.im-woman:before {
    content: "\e9de";
}
.im-man-woman:before {
    content: "\e9df";
}
.im-happy:before {
    content: "\e9e0";
}
.im-happy2:before {
    content: "\e9e1";
}
.im-smile:before {
    content: "\e9e2";
}
.im-smile2:before {
    content: "\e9e3";
}
.im-tongue:before {
    content: "\e9e4";
}
.im-tongue2:before {
    content: "\e9e5";
}
.im-sad:before {
    content: "\e9e6";
}
.im-sad2:before {
    content: "\e9e7";
}
.im-wink:before {
    content: "\e9e8";
}
.im-wink2:before {
    content: "\e9e9";
}
.im-grin:before {
    content: "\e9ea";
}
.im-grin2:before {
    content: "\e9eb";
}
.im-cool:before {
    content: "\e9ec";
}
.im-cool2:before {
    content: "\e9ed";
}
.im-angry:before {
    content: "\e9ee";
}
.im-angry2:before {
    content: "\e9ef";
}
.im-evil:before {
    content: "\e9f0";
}
.im-evil2:before {
    content: "\e9f1";
}
.im-shocked:before {
    content: "\e9f2";
}
.im-shocked2:before {
    content: "\e9f3";
}
.im-baffled:before {
    content: "\e9f4";
}
.im-baffled2:before {
    content: "\e9f5";
}
.im-confused:before {
    content: "\e9f6";
}
.im-confused2:before {
    content: "\e9f7";
}
.im-neutral:before {
    content: "\e9f8";
}
.im-neutral2:before {
    content: "\e9f9";
}
.im-hipster:before {
    content: "\e9fa";
}
.im-hipster2:before {
    content: "\e9fb";
}
.im-wondering:before {
    content: "\e9fc";
}
.im-wondering2:before {
    content: "\e9fd";
}
.im-sleepy:before {
    content: "\e9fe";
}
.im-sleepy2:before {
    content: "\e9ff";
}
.im-frustrated:before {
    content: "\ea00";
}
.im-frustrated2:before {
    content: "\ea01";
}
.im-crying:before {
    content: "\ea02";
}
.im-crying2:before {
    content: "\ea03";
}
.im-point-up:before {
    content: "\ea04";
}
.im-point-right:before {
    content: "\ea05";
}
.im-point-down:before {
    content: "\ea06";
}
.im-point-left:before {
    content: "\ea07";
}
.im-warning:before {
    content: "\ea08";
}
.im-notification:before {
    content: "\ea09";
}
.im-question:before {
    content: "\ea0a";
}
.im-plus:before {
    content: "\ea0b";
}
.im-minus:before {
    content: "\ea0c";
}
.im-info:before {
    content: "\ea0d";
}
.im-cancel-circle:before {
    content: "\ea0e";
}
.im-blocked:before {
    content: "\ea0f";
}
.im-cross:before {
    content: "\ea10";
}
.im-checkmark:before {
    content: "\ea11";
}
.im-checkmark2:before {
    content: "\ea12";
}
.im-spell-check:before {
    content: "\ea13";
}
.im-enter:before {
    content: "\ea14";
}
.im-exit:before {
    content: "\ea15";
}
.im-play2:before {
    content: "\ea16";
}
.im-pause:before {
    content: "\ea17";
}
.im-stop:before {
    content: "\ea18";
}
.im-previous:before {
    content: "\ea19";
}
.im-next:before {
    content: "\ea1a";
}
.im-backward:before {
    content: "\ea1b";
}
.im-forward2:before {
    content: "\ea1c";
}
.im-play3:before {
    content: "\ea1d";
}
.im-pause2:before {
    content: "\ea1e";
}
.im-stop2:before {
    content: "\ea1f";
}
.im-backward2:before {
    content: "\ea20";
}
.im-forward3:before {
    content: "\ea21";
}
.im-first:before {
    content: "\ea22";
}
.im-last:before {
    content: "\ea23";
}
.im-previous2:before {
    content: "\ea24";
}
.im-next2:before {
    content: "\ea25";
}
.im-eject:before {
    content: "\ea26";
}
.im-volume-high:before {
    content: "\ea27";
}
.im-volume-medium:before {
    content: "\ea28";
}
.im-volume-low:before {
    content: "\ea29";
}
.im-volume-mute:before {
    content: "\ea2a";
}
.im-volume-mute2:before {
    content: "\ea2b";
}
.im-volume-increase:before {
    content: "\ea2c";
}
.im-volume-decrease:before {
    content: "\ea2d";
}
.im-loop:before {
    content: "\ea2e";
}
.im-loop2:before {
    content: "\ea2f";
}
.im-infinite:before {
    content: "\ea30";
}
.im-shuffle:before {
    content: "\ea31";
}
.im-arrow-up-left:before {
    content: "\ea32";
}
.im-arrow-up:before {
    content: "\ea33";
}
.im-arrow-up-right:before {
    content: "\ea34";
}
.im-arrow-right:before {
    content: "\ea35";
}
.im-arrow-down-right:before {
    content: "\ea36";
}
.im-arrow-down:before {
    content: "\ea37";
}
.im-arrow-down-left:before {
    content: "\ea38";
}
.im-arrow-left:before {
    content: "\ea39";
}
.im-arrow-up-left2:before {
    content: "\ea3a";
}
.im-arrow-up2:before {
    content: "\ea3b";
}
.im-arrow-up-right2:before {
    content: "\ea3c";
}
.im-arrow-right2:before {
    content: "\ea3d";
}
.im-arrow-down-right2:before {
    content: "\ea3e";
}
.im-arrow-down2:before {
    content: "\ea3f";
}
.im-arrow-down-left2:before {
    content: "\ea40";
}
.im-arrow-left2:before {
    content: "\ea41";
}
.im-circle-up:before {
    content: "\ea42";
}
.im-circle-right:before {
    content: "\ea43";
}
.im-circle-down:before {
    content: "\ea44";
}
.im-circle-left:before {
    content: "\ea45";
}
.im-tab:before {
    content: "\ea46";
}
.im-move-up:before {
    content: "\ea47";
}
.im-move-down:before {
    content: "\ea48";
}
.im-sort-alpha-asc:before {
    content: "\ea49";
}
.im-sort-alpha-desc:before {
    content: "\ea4a";
}
.im-sort-numeric-asc:before {
    content: "\ea4b";
}
.im-sort-numberic-desc:before {
    content: "\ea4c";
}
.im-sort-amount-asc:before {
    content: "\ea4d";
}
.im-sort-amount-desc:before {
    content: "\ea4e";
}
.im-command:before {
    content: "\ea4f";
}
.im-shift:before {
    content: "\ea50";
}
.im-ctrl:before {
    content: "\ea51";
}
.im-opt:before {
    content: "\ea52";
}
.im-checkbox-checked:before {
    content: "\ea53";
}
.im-checkbox-unchecked:before {
    content: "\ea54";
}
.im-radio-checked:before {
    content: "\ea55";
}
.im-radio-checked2:before {
    content: "\ea56";
}
.im-radio-unchecked:before {
    content: "\ea57";
}
.im-crop:before {
    content: "\ea58";
}
.im-make-group:before {
    content: "\ea59";
}
.im-ungroup:before {
    content: "\ea5a";
}
.im-scissors:before {
    content: "\ea5b";
}
.im-filter:before {
    content: "\ea5c";
}
.im-font:before {
    content: "\ea5d";
}
.im-ligature:before {
    content: "\ea5e";
}
.im-ligature2:before {
    content: "\ea5f";
}
.im-text-height:before {
    content: "\ea60";
}
.im-text-width:before {
    content: "\ea61";
}
.im-font-size:before {
    content: "\ea62";
}
.im-bold:before {
    content: "\ea63";
}
.im-underline:before {
    content: "\ea64";
}
.im-italic:before {
    content: "\ea65";
}
.im-strikethrough:before {
    content: "\ea66";
}
.im-omega:before {
    content: "\ea67";
}
.im-sigma:before {
    content: "\ea68";
}
.im-page-break:before {
    content: "\ea69";
}
.im-superscript:before {
    content: "\ea6a";
}
.im-subscript:before {
    content: "\ea6b";
}
.im-superscript2:before {
    content: "\ea6c";
}
.im-subscript2:before {
    content: "\ea6d";
}
.im-text-color:before {
    content: "\ea6e";
}
.im-pagebreak:before {
    content: "\ea6f";
}
.im-clear-formatting:before {
    content: "\ea70";
}
.im-table:before {
    content: "\ea71";
}
.im-table2:before {
    content: "\ea72";
}
.im-insert-template:before {
    content: "\ea73";
}
.im-pilcrow:before {
    content: "\ea74";
}
.im-ltr:before {
    content: "\ea75";
}
.im-rtl:before {
    content: "\ea76";
}
.im-section:before {
    content: "\ea77";
}
.im-paragraph-left:before {
    content: "\ea78";
}
.im-paragraph-center:before {
    content: "\ea79";
}
.im-paragraph-right:before {
    content: "\ea7a";
}
.im-paragraph-justify:before {
    content: "\ea7b";
}
.im-indent-increase:before {
    content: "\ea7c";
}
.im-indent-decrease:before {
    content: "\ea7d";
}
.im-share:before {
    content: "\ea7e";
}
.im-new-tab:before {
    content: "\ea7f";
}
.im-embed:before {
    content: "\ea80";
}
.im-embed2:before {
    content: "\ea81";
}
.im-terminal:before {
    content: "\ea82";
}
.im-share2:before {
    content: "\ea83";
}
.im-mail:before {
    content: "\ea84";
}
.im-mail2:before {
    content: "\ea85";
}
.im-mail3:before {
    content: "\ea86";
}
.im-mail4:before {
    content: "\ea87";
}
.im-amazon:before {
    content: "\ea88";
}
.im-google:before {
    content: "\ea89";
}
.im-google2:before {
    content: "\ea8a";
}
.im-google3:before {
    content: "\ea8b";
}
.im-google-plus:before {
    content: "\ea8c";
}
.im-google-plus2:before {
    content: "\ea8d";
}
.im-google-plus3:before {
    content: "\ea8e";
}
.im-hangouts:before {
    content: "\ea8f";
}
.im-google-drive:before {
    content: "\ea90";
}
.im-facebook:before {
    content: "\ea91";
}
.im-facebook2:before {
    content: "\ea92";
}
.im-instagram:before {
    content: "\ea93";
}
.im-whatsapp:before {
    content: "\ea94";
}
.im-spotify:before {
    content: "\ea95";
}
.im-telegram:before {
    content: "\ea96";
}
.im-twitter:before {
    content: "\ea97";
}
.im-vine:before {
    content: "\ea98";
}
.im-vk:before {
    content: "\ea99";
}
.im-renren:before {
    content: "\ea9a";
}
.im-sina-weibo:before {
    content: "\ea9b";
}
.im-rss:before {
    content: "\ea9c";
}
.im-rss2:before {
    content: "\ea9d";
}
.im-youtube:before {
    content: "\ea9e";
}
.im-youtube2:before {
    content: "\ea9f";
}
.im-twitch:before {
    content: "\eaa0";
}
.im-vimeo:before {
    content: "\eaa1";
}
.im-vimeo2:before {
    content: "\eaa2";
}
.im-lanyrd:before {
    content: "\eaa3";
}
.im-flickr:before {
    content: "\eaa4";
}
.im-flickr2:before {
    content: "\eaa5";
}
.im-flickr3:before {
    content: "\eaa6";
}
.im-flickr4:before {
    content: "\eaa7";
}
.im-dribbble:before {
    content: "\eaa8";
}
.im-behance:before {
    content: "\eaa9";
}
.im-behance2:before {
    content: "\eaaa";
}
.im-deviantart:before {
    content: "\eaab";
}
.im-500px:before {
    content: "\eaac";
}
.im-steam:before {
    content: "\eaad";
}
.im-steam2:before {
    content: "\eaae";
}
.im-dropbox:before {
    content: "\eaaf";
}
.im-onedrive:before {
    content: "\eab0";
}
.im-github:before {
    content: "\eab1";
}
.im-npm:before {
    content: "\eab2";
}
.im-basecamp:before {
    content: "\eab3";
}
.im-trello:before {
    content: "\eab4";
}
.im-wordpress:before {
    content: "\eab5";
}
.im-joomla:before {
    content: "\eab6";
}
.im-ello:before {
    content: "\eab7";
}
.im-blogger:before {
    content: "\eab8";
}
.im-blogger2:before {
    content: "\eab9";
}
.im-tumblr:before {
    content: "\eaba";
}
.im-tumblr2:before {
    content: "\eabb";
}
.im-yahoo:before {
    content: "\eabc";
}
.im-yahoo2:before {
    content: "\eabd";
}
.im-tux:before {
    content: "\eabe";
}
.im-appleinc:before {
    content: "\eabf";
}
.im-finder:before {
    content: "\eac0";
}
.im-android:before {
    content: "\eac1";
}
.im-windows:before {
    content: "\eac2";
}
.im-windows8:before {
    content: "\eac3";
}
.im-soundcloud:before {
    content: "\eac4";
}
.im-soundcloud2:before {
    content: "\eac5";
}
.im-skype:before {
    content: "\eac6";
}
.im-reddit:before {
    content: "\eac7";
}
.im-hackernews:before {
    content: "\eac8";
}
.im-wikipedia:before {
    content: "\eac9";
}
.im-linkedin:before {
    content: "\eaca";
}
.im-linkedin2:before {
    content: "\eacb";
}
.im-lastfm:before {
    content: "\eacc";
}
.im-lastfm2:before {
    content: "\eacd";
}
.im-delicious:before {
    content: "\eace";
}
.im-stumbleupon:before {
    content: "\eacf";
}
.im-stumbleupon2:before {
    content: "\ead0";
}
.im-stackoverflow:before {
    content: "\ead1";
}
.im-pinterest:before {
    content: "\ead2";
}
.im-pinterest2:before {
    content: "\ead3";
}
.im-xing:before {
    content: "\ead4";
}
.im-xing2:before {
    content: "\ead5";
}
.im-flattr:before {
    content: "\ead6";
}
.im-foursquare:before {
    content: "\ead7";
}
.im-yelp:before {
    content: "\ead8";
}
.im-paypal:before {
    content: "\ead9";
}
.im-chrome:before {
    content: "\eada";
}
.im-firefox:before {
    content: "\eadb";
}
.im-IE:before {
    content: "\eadc";
}
.im-edge:before {
    content: "\eadd";
}
.im-safari:before {
    content: "\eade";
}
.im-opera:before {
    content: "\eadf";
}
.im-file-pdf:before {
    content: "\eae0";
}
.im-file-openoffice:before {
    content: "\eae1";
}
.im-file-word:before {
    content: "\eae2";
}
.im-file-excel:before {
    content: "\eae3";
}
.im-libreoffice:before {
    content: "\eae4";
}
.im-html-five:before {
    content: "\eae5";
}
.im-html-five2:before {
    content: "\eae6";
}
.im-css3:before {
    content: "\eae7";
}
.im-git:before {
    content: "\eae8";
}
.im-codepen:before {
    content: "\eae9";
}
.im-svg:before {
    content: "\eaea";
}
.im-IcoMoon:before {
    content: "\eaeb";
}

