{% ckan_extends %}

{#% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %#}

{% block breadcrumb_content %}
	  <span property="itemListElement" typeof="ListItem">
      {% link_for _('Organizations'), controller='organization', action='index' %}
    </span> &gt;
    <span property="itemListElement" typeof="ListItem" class="active">
      {% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}
    </span>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav('organization_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav('organization_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
