// out: ../public/css/gdf_ui-gub.css, sourcemap: true, compress: true
/*
Theme Name: Template 2015 GDF
Description: Template WORDPRESS do novo LAYOUT dos portais GDF
Author: Coordenação de Tecnologia da Informação / Diretoria de Desenvolvimento - Casa Civil
Version: 1.0
*/

/*
* Variaveis - Cores
*/

@white: #FFFFFF;
@white-two: #FBFBFB;
@white-three: #F5F5F5;
@white-four: #E0E0E0;

@gray: #CCCCCC;
@faded-gray: #E0E0E0;
@deep-gray: #999999;

@black: #515151;
@faded-black: #767676;
@deep-black: #333333;


@blue: #4079BC;
@faded-blue: #6898D0;
@deep-blue: #346399;

@teal: #28BBB6;
@faded-teal: #69D1CE;
@deep-teal: #07A59F;

@yellow: #FFCC29;
@faded-yellow: #FFE96B;
@deep-yellow: #E6BB2E;

@green: #00A858;
@faded-green: #62B789;
@deep-green: #1A804B;

/*FONTES*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);

/** CSS RESET */
html, body, div, span, applet, object, iframe, p, blockquote, pre, abbr, acronym, address, big, code,del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
body { line-height:1; font-family: 'Open Sans', sans-serif; font-size: 14px; color:@black; background: #fbfbfb;}
table { border-collapse:separate; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after { content:"";}
blockquote, q { quotes:"" ""; }

html {font-family: 'Open Sans';}

.aqui-esta-seu-dinheiro{
	iframe{
		img{
			width:100% !important;
		}
	}
	.panel-default{
		> .panel-heading{
			background-color: @green;
			color:white;
			border:1px solid @deep-green;
		}
	}
	.panel-title{
		a{
			color:white;
		}
	}
}

.panel-group{
	margin-bottom: 5px;
}

/*GENÉRICAS*/
.margin-top-10{
	margin-top: 10px;
}

/*CLASSES EDITOR DE TEXTO*/
.alignleft{float:left; margin:30px 30px 30px 0;}
.alignright{float:right; margin:30px 0 30px 30px;}

#tinymce {
	padding: 20px;

	ol,
	ul,
	li{
		margin-left: 20px;
	}
}

/** CLASSES BOOTSTRAP ALTERADAS */
.navbar-collapse{margin:0; padding:0;}

a,
a:hover,
a:focus {
	color:@black;
}

.navbar-default{
	background:@black;

	.navbar-nav{
		> li{
			> a{
				color:@gray;
				transition:linear 0.3s all

				&:focus,
				&:active{
					color:@gray;
				}
				&:hover{
					color:@white;
				}
			}
		}
	}
}

/*CATEGORIAS*/
h2, h3, h4{
	font-family: 'Titillium Web';
	color:#BFA711;
}
h2, h3{
	text-transform: uppercase;
}
h2{ font-size: 36px;
	margin-top:4%;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 22px;
}

ul{
	&.itens{
		margin-left: 20px;
		line-height: 25px;
		margin-top: 20px;
		list-style: none;
		font-family:'Open Sans';

		li {
			margin-left: -15px;

			&:before {
				content: "• ";
				color: #00A555;
			}
		}

		a {
			color: #4079C0;
			font-family: 'Open Sans', sans-serif;
			font-size: 17px;
			padding-left: 10px;
		}
	}

	&.zebrado {
		list-style: none;

		li {
			background-color: #FBFBFB;
			padding: 20px 20px;

			&:first-child{
				background-color: @white;
				border-top: 1px solid #E0E0E0;
			}
			&:nth-child(2n+3) {
				background-color: @white;
			}
			&:last-child{
				border-bottom: 1px solid #E0E0E0;
			}
			a{
				color: #4079C0;
				font-family: 'Titillium Web', sans-serif;
				font-size: 17px;
			}
		}
	}
}

.corpo-posts{
	table {
		width:100%;
		text-align: center;

		tr{
			th{
				font-family:'Titillium Web';
				font-size: 24px;
				color:#00a451;
				padding-bottom: 20px;
				padding-left: 15px;
				vertical-align:middle;
				text-align: center;

				&:nth-child(2){
					width:25%;
				}
			}
			td{
				font-family: 'Open Sans';
				font-size: 16px;
				padding:20px 15px;
				border-top: 1px solid #dfdfdf;
				line-height:1.7em;
				vertical-align: middle;
			}

			&:nth-child(2n){
				background-color: white;
			}
		}
	}

	a{
		color:#3f79bb;
		text-decoration:underline;

		&:hover{
			color:#6797cf;
			text-decoration:underline;
		}
	}
}

.category-servicos{
	.carta-de-servicos{
		border: 1px solid #dfdfdf;
		background-color:white;
		padding:30px 0 0 0;
		font-family: 'Open Sans';
		font-size: 16px;
		line-height: 1.7em;

		.nav-tabs{
			margin-top:10px;
			border:none;

			a{
				border:none;
				&:hover{
					background:none;
					border:none;
					color: #00A757;
				}
				&:focus{
					border:none;
				}
			}
		}

		.lista-locais{
			margin-top:30px;
		}
	}

	.lista-cartas{
		margin-top: 1%;

		ul{
			list-style: none;
			margin-top: -20px;

			li{
				text-align: center;
				border: 1px solid #dfdfdf;
				float: left;
				width:23%;
				background-color: #f5f5f5;
				margin-right: 2%;
				margin-top: 2%;
				background-repeat: no-repeat;
				background-position: center left;
				background-position-x: 20%;
				border-radius: 5px;

				&:hover{
					background-color:@white;
				}

				a{
					font-family: 'Open Sans';
					font-size: 16px;
					font-weight: bolder;
					width:262px;
					height:85px;
					display:block;
					position:relative;
					padding: 27px 15px 0 11px;
				}
			}
		}

		a{
			&:hover{
				color:black;
				text-decoration: none;
			}

		}
	}

	.nav-tabs{
		.active{
			border-bottom:2px solid #00a757;
			padding-bottom:10px;
		}
		li{
			a{
				font-family:'Montserrat';
				font-size: 16px;
				background-color:white;
				border: none;
				border-radius:0;

				&:hover,
				&:focus{
					color:#00A757;
					border:none;
				}
			}
		}
	}
}

/** CLASSES HEADER */
#topo-site{
	#barra-superior{
		.navbar {
			min-height: 30px;

			.separador {
				margin-top: 7px;
			}
		}
		.navbar-nav{
			> li{
				> a{
					padding-top: 4px;
					padding-bottom: 0px;
				}
			}
		}
		.navbar-collapse{
			ul{
				li{
					a{
						font-size: 12px;
						font-family: 'Montserrat';
						padding-right:30px;

						&:hover{
							text-decoration-line: underline;
						}
					}
					&:nth-child(6){
						a{
							padding-left:30px;
						}
					}
					&:first-child{
						a {
							padding-left: 30px;
						}
					}
				}
			}
		}
		.navbar-default{
			border-radius:0;
			color:@gray;
		}
	}
	#barra-superior-2{
		margin-top:30px;

		h3, h1{
			font-size: 30px;
			font-family: 'Titillium Web',
			sans-serif; margin: 0;
			color: @black;
		}
		#ancoras{
			font-family: 'Montserrat';
			font-size: 12px;
		}
		#icones {
			margin-top:20px;

			a{
				color:white;
				background:#00A451;
				width: 38px;
				height: 38px;
				line-height: 40px;
				border-radius: 50%;
				text-align: center;
				margin-left: 15px;
				display: block;
				float: right;
				font-size: 21px;

				&:hover {
					text-decoration: none;
					background: #008e4b;
				}
			}
			.img-fale-governo {
				width:94px;
				height: 34px;
				background: transparent;
				margin-left: 15px;
				margin-right: 20px;
				display: block;
				float: right;
				border-radius: 0px;

				&:hover {
					background: transparent;
				}
			}
		}

		.titulo-portal{
			a{
				&:hover {
					text-decoration: none;
				}
			}
			h1{
				margin-top:8px;
			}
		}
	}
	#banner-principal{
		margin-top: 50px;

		h1{
			font-size: 50px;
			font-family: 'Montserrat';
			font-variant: small-caps;
			text-align: left;
			line-height: 200px;
		}
	}

	/*BANNER SUPERIOR PARA TODAS AS PÁGINAS INTERNAS.*/
	.banner-paginas-internas{
		background: url(img/interno.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 220px;
		margin-top:50px;
	}

	#icones-servicos{
		margin-top:30px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Montserrat';
		font-size: 16px;

		a{
			color:@black;

			&:hover{
				color:#00A757;
				text-decoration: none;

				> img{
					border:1px
					solid #00A757;
				}
			}
			img{
				border:1px solid #c9b538;
				margin-bottom: 15px;
				border-radius: 100%;
			}
		}
		p{
			margin-bottom: 30px;
		}
	}
	/** CLASSES INDEX */
	.fale-com-o-governo-sm{
		display:none;
	}
}

.corpo-posts{
	.conversa-franca{
		table{
			tr{
				td{
					line-height:1.7em;
					padding: 10px 0px;
				}
			}
		}
	}
}
.area-fale-governo{
	.conversa-franca-texto{
		line-height:1.7em;
		font-size:16px;
	}
}

#conteudo-portal{
	#servicos-e-diario{
		margin-top:80px;

		.serv-procurados{
			span{
				float:left;
			}
			.paragrafo-servicos {
				margin-left:0;
			}
			h1 {
				font-size: 60px;
				font-family: 'Titillium Web';
				color:#BFA711;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
			ul{
				li{
					a {
						font-size: 16px;
						font-family: 'Montserrat';
						padding:17px;
						border-radius: 0;
					}
				}
			}
			.nav-pills{
				> li{
					&:first-of-type{
						a{
							&:first-of-type {
								border-top-left-radius: 7px;
							}
						}
					}
					&:last-of-type{
						a{
							&:last-of-type {
								border-top-right-radius: 7px;
							}
						}
					}
					&.active{
						> a{
							&:hover,
							&:focus{
								background:#27BBB5;
							}
						}
					}
				}
			}
			.nav{
				> li{
					> a {
						background:#3F79BB;
						color:white;
						&:hover,
						&:focus {
							background:#27BBB5;
						}
					}
				}
			}
			.lista-servicos{
				ul{
					margin-top: 1px;

					li {
						background:#27BBB5;
						display: block;
						float: left;
						width:49.5%;
						height: 68px;
						margin:1px;
						margin-left: 0;
						color:white;
						font-family: 'Montserrat';
						font-size: 18px;
						border-right: 1px solid white;

						&:hover{
							background:#0F9993;
						}

						a {
							text-decoration: none;
							position: relative;
							color: @white;
							padding: 0px 15px;
							display: block;
							height: 68px;
							width: 100%;

							.area-img{
								width: 10%;
								height: 68px;
								line-height: 70px;
								float: left;
								padding-top: 12px;

								img{
									-webkit-filter:brightness(8);
									-ms-filter:brightness(80%);
									filter:brightness(8);
									width: 100%;
								}
							}

							.area-txt-servico{
								position: absolute;
								width: 89%;
								float: right;
								height: 68px;
								left: 40px;
								top: 0px;
								display: table;

								p{
									display: table-cell;
									vertical-align: middle;
									padding-left: 10px;
									line-height:1.3em;
									padding-right:14px;
								}
							}
						}
					}
					.li-position-2 {
						border-top-right-radius: 7px;
					}
					.li-position-5 {
						border-bottom-left-radius: 7px;
					}
					.li-position-6 {
						border-bottom-right-radius: 7px;
					}
				}
			}
		}
		p{
			a {
				color:#3F79BB;
				text-transform: uppercase;
				font-family: 'Montserrat';
				font-size: 16px;
			}
		}
	}
}


#box-diario-oficial{
	h2{
		font-family: 'Titillium Web';
		border-bottom: 2px solid #00A757;
		color: @black;
		text-transform:none;
	}
	img{
		float: right;
	}
	form{
		margin-top: 60px;

		h5{
			font-family:'Open Sans';
			font-size:18px;
		}
	}
	hr{
		width:50%;
		margin-top:30px;
	}
}

/*
#box-diario-oficial form input[type=text]{float:left;width:80%; padding:15px; font-family: 'Open Sans'; color:#27BBB5; border-top-left-radius:10px; border-bottom-left-radius:10px; border:none; }
#box-diario-oficial form input[type=submit]{width: 20%; float: left; height: 50px; background:url(img/lupa-pesquisa-diario.png) white; background-repeat: no-repeat; background-position: center; border:none; }
#box-diario-oficial form input[type=submit]:hover{background:url(img/lupa-pesquisa-diario-hover.png) white; background-repeat: no-repeat; background-position: center;}
*/

#conteudo-portal #box-icones-servicos{background:white; margin-top: 60px; text-align: center;}

#conteudo-portal #programas-videos-agencia{margin-top:30px;}
#conteudo-portal #programas-videos-agencia h1{font-size: 60px; font-family: 'Titillium Web'; color:#BFA711; text-transform: uppercase;}
#conteudo-portal #programas-videos-agencia #programas div img{margin:5px 0px; width: 100%; width:360px; height:240px;}
#conteudo-portal #programas-videos-agencia #programas p{margin-top: 15px;}
#conteudo-portal #programas-videos-agencia #programas p a{color:#3F79BB; text-transform: uppercase; font-family: 'Montserrat'; font-size: 16px;}
#conteudo-portal #programas-videos-agencia #programas p a img{margin:0 5px 0 0;}

#conteudo-portal #programas-videos-agencia #videos .col-md-6 a:last-of-type{display: none;}
#conteudo-portal #programas-videos-agencia #videos p{margin-top: 15px;}
#conteudo-portal #programas-videos-agencia #videos p a{color:#3F79BB; text-transform: uppercase; font-family: 'Montserrat'; font-size: 16px;}
#conteudo-portal #programas-videos-agencia #videos p a img{margin:0 5px 0 0;}

#conteudo-portal #programas-videos-agencia #agencia-brasilia{margin-top:23%;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia h2{font-family: 'Titillium Web'; border-bottom: 2px solid @black; color:@black; text-transform:none;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia img{float: right;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias{background:white; padding:35px 30px; margin-top: -10px; border: 1px solid #E0E0E0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias p{font-family: 'Open Sans'; font-size: 14px; color:#999;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h3{font-family: 'Titillium Web'; font-size: 24px; color:#3F79BB; text-transform: uppercase}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h4{font-family: 'Titillium Web'; font-size: 16px; color:@black; border-bottom: 1px solid #dbdbdb; padding-bottom: 40px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h5{font-family: 'Titillium Web'; font-size: 24px; color:#3F79BB; border-bottom: 1px solid #dbdbdb; padding-bottom: 40px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h6{margin-top: 30px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h6 a{color:#3F79BB; text-transform: uppercase; font-family: 'Montserrat'; font-size: 16px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia .lista-noticias h6 a img{margin:0 5px 0 0; float: left;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia li {list-style: none; margin:0px 0 30px 0;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia li a {font-family: 'Titillium Web'; font-size: 20px; color:#3F79BB;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia li a {display:block; margin-top: 0px; text-decoration: none; margin: 10px 0px;}
#conteudo-portal #programas-videos-agencia #agencia-brasilia li span{padding-bottom: 10px 0px; color: #989898;}
.widgettitle {display: none;}

#conteudo-portal #conheca-brasilia{font-size:0; border-top: 20px solid #3F79BB; border-bottom: 20px solid #3F79BB; background:url(img/background-conheca-brasilia.png); color:white; margin-top:60px;}
#conteudo-portal #conheca-brasilia #text-conheca-brasilia{padding:30px; background:#27BBB5; z-index: 10; position:relative;}
#conteudo-portal #conheca-brasilia #text-conheca-brasilia h1{text-transform: uppercase; font-family: 'Titillium Web'; font-size: 80px; color:white;}
#conteudo-portal #conheca-brasilia #text-conheca-brasilia h5{font-size: 18px; font-family: 'Open Sans';}
#conteudo-portal #conheca-brasilia #saiba-mais{padding:15px; background: #3F79BB; text-align: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-top: -1px;}
#conteudo-portal #conheca-brasilia #saiba-mais a{color:white; font-family: 'Montserrat'; font-size: 18px;}
#conteudo-portal #conheca-brasilia #saiba-mais a img{margin-left: 10px;}
#conteudo-portal #conheca-brasilia #saiba-mais .btn-saiba{background:red; width:30px; height:30px;}
#conteudo-portal #imagem-grande{margin-top:-150px; z-index: 1; position: relative; }
#conteudo-portal #imagem-grande img{width:100%; height:100%;}
#conteudo-portal #conheca-brasilia a{color:white; text-decoration:none;}

#conteudo-portal #invista-em-brasilia{margin-top:70px; margin-bottom:70px;}
#conteudo-portal #invista-em-brasilia h1{font-size: 60px; font-family: 'Titillium Web'; color:#BFA711; text-transform: uppercase; margin-bottom: 30px;}
#conteudo-portal #invista-em-brasilia p{font-family: 'Open Sans'; font-size: 18px; margin-bottom: 40px; line-height:27px;}
#conteudo-portal #invista-em-brasilia span a{padding:10px 30px; border:2px solid #4079bc; border-radius: 5px; font-family: 'Montserrat'; font-size: 16px; color:#4079bc;}
#conteudo-portal #invista-em-brasilia span a img{margin-left: 10px;}
#conteudo-portal #invista-em-brasilia iframe{widh:100%;}

/*PÁGINAS INTERNAS*/
.paginas-internas{}
.paginas-internas h2{font-family: 'Titillium Web'; font-size: 36px; color:#BFA711; text-transform: uppercase;}
.paginas-internas h3{font-family: 'Titillium Web'; font-size: 26px; color:#BFA711; text-transform: uppercase;}
.paginas-internas p{font-size:16px; color:@black; font-family: 'Open Sans'; line-height: 1.7em;}
.paginas-internas ul {margin-left: 20px; line-height: 25px; margin-top: 20px; list-style: none; font-family:'Open Sans';}
.paginas-internas ul li {margin-left: -15px;}
.paginas-internas ul li:before {content: "• "; color: #00A555;}
.paginas-internas ul a {color: #4079C0; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-left: 10px;}

.sinal-livre{}
.sinal-livre h1{margin-bottom: 15px; color:#346398;}
.sinal-livre blockquote{background-color:rgba(255,255,255,0.8); border:1px solid #cbcbcb; padding:15px; margin-top: 15px; border-radius: 5px;}
.sinal-livre a{background-color: @green; color:white; font-family: 'Montserrat'; font-size: 16px; border-radius: 5px; display:block; width:100%; text-align: center; padding:10px;}
.portal-do-voluntariado{background-color:white; padding:30px; border:1px solid #dfdfdf; margin-top:30px;}
.portal-do-voluntariado a{background-color: #F19906; color:white; font-family: 'Montserrat'; font-size: 16px; border-radius: 5px; display:block; width:100%; text-align: center; padding:15px 10px;}
#videos{}
#videos h1{font-family:"Titillium Web", sans-serif; font-size:36px; color: #bfa711; text-transform: uppercase;}
#videos a{font-family:"Montserrat", sans-serif; font-size:16px; color: #3f79bb; text-transform: uppercase;}


.breadcrumb-paginas-internas{
	font-size: 13px;
	font-family: 'Montserrat';
	color: #0AAA60;
	padding:20px 0;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
	font-weight: bold;
}
.breadcrumbs {
	span {
		margin:0 10px;
		font-weight: normal;

		&:first-child{
			margin-left:0;
		}

		a{
			font-weight: normal;
			color: #4079BE;
		}
	}
}

.categorias-site{}
.categorias-site .resumo-destaque{margin-top: 30px; }
.categorias-site .resumo-destaque h4{font-family: 'Montserrat'; color: #999; font-size:14px;}
.categorias-site .resumo-destaque h3{font-family:'Titillium Web'; font-size: 24px; color:#3f79bb; text-transform: uppercase;}
.categorias-site .resumo-destaque p{font-family: 'Open Sans'; color: @black; font-size: 16px; line-height: 1.7em;}
.categorias-site .resumo-destaque img{}

.categorias-site .lista-programas{}
.categorias-site .lista-programas h3{font-family: 'Open Sans'; font-size: 16px; color:@black; text-transform:none; width:85%;}
.categorias-site .lista-programas img{width:360px; height:240px;}

.categorias-site .lista-campanhas{}
.categorias-site .lista-campanhas h3{font-family: 'Open Sans'; font-size: 16px; color:@black; text-transform:none; width:85%;}
.categorias-site .lista-campanhas img{width:360px; height:202px;}

.categorias-site .acesso-a-informacao{}
.categorias-site .acesso-a-informacao p{font-family: 'Open Sans'; font-size: 16px;}
.box-lateral-direito{background:white; border: 1px solid #dfdfdf; border-radius:10px; padding: 15px 0px; font-size: 16px;}
.box-lateral-direito a.titulo, .box-lateral-direito span.titulo{display: block; padding: 11px 15px; font-family: 'Montserrat'; color:#00A551;}
.box-lateral-direito a.subtitulo{display: block; padding: 7px 28px; font-family: 'Montserrat'; color:@black;}
.box-lateral-direito a:hover{border-left:4px solid #00A451; background:#f5f5f5; text-decoration: none; padding-left: 24px; margin-left: 0px;}
.box-lateral-direito.duvidas a{color:#00A54F;}
.box-lateral-direito a.active {border-left:4px solid #00A451; background:#f5f5f5; text-decoration: none; padding-left: 24px; margin-left: 0px;}

.category-concursos{
	h2{
		margin-bottom: 3%;
	}
	h6{
		color:#666;
		font-size: 22px;
		font-weight: bolder;
	}
	.nav-tabs{
		background-color:white;
		margin-top: 3%;

		li{
			a{
				font-family:'Montserrat';
				font-size: 16px;
				background-color:white;
				border: none;
				border-radius:0;
				color:#999;

				&:hover,
				&:focus{
					color:#00A757;
					border:none;
				}
			}
		}
		.active{
			border-bottom:2px solid #00A757;
			color:#00A757;

			a{
				color:#00A757;
			}
		}
	}
}

.category-concursos table{width:100%; margin-top: 2%; font-family: 'Open Sans'; font-size: 14px;}
.category-concursos table tr td{text-align:center; padding:2%; background-color:white; border-bottom: 1px solid #dfdfdf; vertical-align: middle;}
.category-concursos ul {list-style: none; padding:0}
.category-concursos ul li a{font-family: 'Open Sans'; font-size: 17px; color:#3F79BB; line-height: 1.7em;}
.category-concursos ul li a:before{content: '• '; color:#02A552;}
.category-concursos .lista-concursos{}
.category-concursos .lista-concursos a:before{content:none;}

.category-acesso{}
.category-acesso h2{margin-bottom: 20px;}
.category-acesso h3{margin-bottom: 24px;}
.category-acesso p{font-family: 'Open Sans'; font-size: 16px; line-height: 1.7em;}
.category-acesso table{width:100%; text-align: center;}
.category-acesso table tr th{font-family:'Titillium Web'; font-size: 24px; color:#00a451; padding-bottom: 20px; padding-left: 15px; vertical-align:middle;}
.category-acesso table tr th:nth-child(2){width:25%;}
.category-acesso table tr td{font-family: 'Open Sans'; font-size: 16px; padding:20px 15px; border-top: 1px solid #dfdfdf; line-height:1.7em;}
.category-acesso table tr:nth-child(2n){background-color: white;}
.category-acesso .acesso-posicao-1{float:right;}


.category-acesso .category-acesso-perguntas{}

.category-acesso .acesso-a-informacao-lateral{font-family: 'Montserrat'; font-size: 16px; background:white; border:1px solid #dfdfdf;}
.category-acesso .acesso-a-informacao-lateral ul{list-style: none; padding:0; margin:0;}
.category-acesso .acesso-a-informacao-lateral ul li{}
.category-acesso .acesso-a-informacao-lateral ul li a{background-color:white; display: block; padding:20px;}
.category-acesso .acesso-a-informacao-lateral ul li a:hover{background: #f5f5f5; text-decoration: none; border-left: 4px solid #00a451; margin-left: -4px; }
.category-acesso .acesso-a-informacao-lateral ul li a:focus{text-decoration: none;}

/*POSTS*/
.corpo-posts{}
.corpo-posts h2{font-family: 'Titillium Web'; font-size: 36px; color:#BFA711; text-transform: uppercase;}
.corpo-posts h3{font-family: 'Titillium Web'; font-size: 26px; color:#BFA711; text-transform: uppercase;}

.corpo-posts .default{}
.corpo-posts .default p{font-family: 'Open Sans'; font-size: 16px; color:@black; line-height: 1.7em; margin-bottom:30px;}
.corpo-posts .default blockquote p{font-family: 'Titillium Web'; font-size: 30px; font-weight:bolder; line-height: 1.4em; margin:20px -25%; font-style: italic;  }
/*.corpo-posts .default blockquote p:before {content:url(img/aspas-iniciais.svg); margin-right: 20px; }*/
/*.corpo-posts .default blockquote p:after{content:'"';}*/
.corpo-posts .default ul{font-family: 'Open Sans'; font-size: 18px; list-style-position: inside; list-style-image: url(img/list-style.svg); line-height: 1.7em; }


.corpo-posts p{font-family: 'Open Sans'; font-size: 16px; line-height:27px;}
.corpo-posts .acesso-inf-1{}
.corpo-posts .acesso-inf-1 table{width:100%; font-family: 'Open Sans'; font-size: 16px; color:@black; margin-top: 20px; }
.corpo-posts .acesso-inf-1 table tr:first-child{font-size: 24px; font-family: 'Titillium Web'; color:#00a551; }
.corpo-posts .acesso-inf-1 table tr:nth-child(2n){background:white;}
.corpo-posts .acesso-inf-1 table td{text-align: center; border-bottom: 1px solid #dfdfdf; padding: 20px 0;}
.corpo-posts .acesso-inf-1 .panel-title{font-family: 'Montserrat'; font-size: 20px; color:@black; }
.corpo-posts .acesso-inf-1 .panel-title a{text-decoration: none;}
.corpo-posts .acesso-inf-1 .panel-title a:after{content: '+'; float: right; color:#346399; margin-top: -35px; font-size: 40px;}
.corpo-posts .acesso-inf-1 .panel-heading{background:#fbfbfb;}
.corpo-posts .acesso-inf-1 .panel-body{font-family: 'Open Sans'; font-size:15px; line-height: 1.5em; background:white;}


.corpo-posts .categoria-sobre-o-governo{}
.corpo-posts .categoria-sobre-o-governo h3{color:#3F79BB; font-size:18px; text-transform: none; font-weight:bolder; margin-top:0;}
.corpo-posts .categoria-sobre-o-governo h4{color:#3F79BB; font-size:14px; text-transform: none; font-weight:bolder; margin-top:0; font-family:'Open Sans'; font-weight:100; color:@black;}
.corpo-posts .categoria-sobre-o-governo h5{font-size:16px;}
.corpo-posts .categoria-sobre-o-governo img{padding-right:5px;}
.corpo-posts .categoria-sobre-o-governo img{border-top-left-radius:10px; border-bottom-left-radius:10px;}
.corpo-posts .categoria-sobre-o-governo table tr td:nth-child(3) img{border-top-left-radius:0px; border-bottom-left-radius:0px;}
.corpo-posts .categoria-sobre-o-governo table tr td:nth-child(2){padding-left:10px; padding-right:10px; width:50%;}
.corpo-posts .categoria-sobre-o-governo table tr td:nth-child(1) img{width:242px; height:178px;}

.corpo-posts .categoria-sobre-o-governo a{color:#3F79BB;}
.corpo-posts .categoria-sobre-o-governo table{width:100%; border:1px solid #dfdfdf; border-radius:10px; background-color:white; font-family:'Open Sans'; margin-top:20px;}
.corpo-posts .categoria-sobre-o-governo table tr td{vertical-align:middle;}
.corpo-posts .categoria-sobre-o-governo table tr td:nth-child(3){text-align:center; line-height:2em; border-left:1px solid #dfdfdf; width:25%;}

.corpo-posts .categoria-sobre-o-governo-arq{}
.corpo-posts .categoria-sobre-o-governo-arq img{width:12%;}
.corpo-posts .categoria-sobre-o-governo-arq h4{font-family: 'Open Sans'; font-size: 16px; line-height: 1.65em; margin-bottom: 3%; color:@black;}
.corpo-posts .categoria-sobre-o-governo-arq table{width:100%; background-color:@white; font-family: 'Open Sans'; font-size: 14px; border:1px solid #dfdfdf;}
.corpo-posts .categoria-sobre-o-governo-arq table tr{}
.corpo-posts .categoria-sobre-o-governo-arq table tr td{vertical-align: middle; text-align: center; padding:10px;border-bottom:1px solid #dfdfdf;}

.corpo-posts .perfil-governador{line-height:1.9em;}
.corpo-posts .perfil-governador h4{font-family: 'Open Sans'; font-size:17px; font-weight:bolder; color:@black;}
.corpo-posts .perfil-governador h5{font-family: 'Open Sans'; font-size:14px;}
.corpo-posts .perfil-governador td:first-child img{width:165px; height:165px; border-radius:50%;}
.corpo-posts .perfil-governador table{background:none; margin-top: 30px;}
.corpo-posts .perfil-governador table tr td{vertical-align: middle; padding-bottom: 30px;}
.corpo-posts .perfil-governador p{margin-bottom: 30px;}

.corpo-posts .galeria-governadores .col-md-3{text-align:center; background-image: url(img/seta-azul.png); background-repeat: no-repeat; background-position: center right; background-position-y:70px;}
.corpo-posts .galeria-governadores img{border-radius: 50%;}
.corpo-posts .galeria-governadores h5{font-family: 'Open Sans'; font-size: 18px; color:@black; }
.corpo-posts .galeria-governadores h6{font-family: 'Open Sans'; font-size: 14px; color:@black; padding-bottom: 30px;}

.corpo-posts .marca-do-governo{}
.corpo-posts .marca-do-governo .img-horizontal{margin-bottom: 3%; width:40%;}
.corpo-posts .marca-do-governo .img-vertical{margin-bottom: 3%; width:23%;}
.corpo-posts .marca-do-governo h4{margin:5% 0 3% 0; font-size:18px; font-family: 'Montserrat'; color:@black;}
.corpo-posts .marca-do-governo h5{ margin:5% 0 7% 0; font-size:18px; font-family: 'Titillium Web'; color:@black; text-transform: uppercase;}
.corpo-posts .marca-do-governo h6 a{font-family: 'Montserrat'; color: #3F79BB; font-size: 16px; line-height: 1.5em;}
.corpo-posts .marca-do-governo p{line-height: 1.5em;}
.corpo-posts .marca-do-governo ul{list-style:  none; margin: 2% 0 10% 0;}
.corpo-posts .marca-do-governo ul li{display: inline; }
.corpo-posts .marca-do-governo ul li a{}
.corpo-posts .marca-do-governo hr{color:#dfdfdf; background-color:#dfdfdf; height:1px;}
.corpo-posts .marca-do-governo .legislacao a{font-family: 'Montserrat'; color: #3F79BB; font-size: 16px; line-height: 1.5em;}
.marca-do-governo .legislacao{margin-top:15px;}

.corpo-posts .conversa-franca{font-family:'Open Sans'}
.corpo-posts .conversa-franca table tr td{vertical-align:top;}
.corpo-posts .conversa-franca table tr td img{margin-right:30px; margin-bottom:30px;}

.post-servico a {color: #4079C0;}

#invista-em-brasilia iframe{width:585px; height:329px;}



    /*ACESSO À INFORMAÇÃO*/

    /*ACESSIBILIDADE*/
    .acessibilidade{}





/** CLASSE FOOTER */

#rodape{}

#rodape #ante-rodape{font-family: 'Montserrat'; color:#999; font-size:14px; text-align: center; background:white; padding:12px 0; margin:30px 0; border-top: 2px solid #dfdfdf; border-bottom: 2px solid #dfdfdf;}
#rodape #ante-rodape a {margin-right: 30px;}
#rodape #ante-rodape a:last-child{margin-right: 0;}

#rodape #rodape-principal{border-top:5px solid #346399; background:#45b97c; margin-top: 30px; padding-top: 20px; margin-top:-30px; padding-bottom:40px;}
#rodape #rodape-principal a{color:white;}
#rodape #rodape-principal h4{font-family: 'Montserrat'; font-size: 16px; color:white; text-transform: uppercase;}
#rodape #rodape-principal h2{font-family: 'Montserrat'; font-size: 22px; color:white; text-transform: uppercase; margin-top: 10px; }
#rodape #rodape-principal h3{font-family: 'Montserrat'; font-size: 14px; color:white; margin-top: 10px; margin-bottom: 40px; line-height:1.7em; text-transform:none;}
#rodape #rodape-principal p{padding-bottom: 10px;}
#rodape #rodape-principal p a{font-family: 'Montserrat'; font-size: 12px; color:white; }
#rodape #rodape-principal #icones-rodape a{color:#45B77B; font-size: 23px; margin-right: 20px; background:#1B7F4B; padding:11px; border-radius: 50%; width:44px; height:44px; display:block; float:left;}
#rodape #rodape-principal #icones-rodape a:hover{text-decoration:none; color:#45B77}

#rodape #rodape-mobile{border-top:5px solid #346399; background:#45b97c; margin-top: 30px; padding-top: 20px; margin-top:-30px;}
#rodape #rodape-mobile a{color:white;}
#rodape #rodape-mobile h4{font-family: 'Montserrat'; font-size: 16px; color:white; text-transform: uppercase;}
#rodape #rodape-mobile h2{font-family: 'Montserrat'; font-size: 22px; color:white; text-transform: uppercase; margin-top: 10px; }
#rodape #rodape-mobile h3{font-family: 'Montserrat'; font-size: 14px; color:white; margin-top: 10px; margin-bottom: 40px; line-height:1.7em; text-transform:none;}
#rodape #rodape-mobile p{padding-bottom: 10px;}
#rodape #rodape-mobile p a{font-family: 'Montserrat'; font-size: 12px; color:white; }
#rodape #rodape-mobile #icones-rodape {display:block;}
#rodape #rodape-mobile #icones-rodape a{color:#45B77B; font-size: 23px; margin-right: 20px; background:#1B7F4B; padding:11px; border-radius: 50%; width:44px; height:44px; display:block; float:left;}
#rodape #rodape-mobile #icones-rodape a:hover{text-decoration:none;}


/** CLASSES GENÉRICAS*/
.fundo-cinza{padding:20px 0; background-color:#dfdfdf;}
.margin-top-10 {margin-top: 10px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-40 {margin-top: 40px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-right-10 {margin-right: 10px;}
.linha-top{border-top: 1px solid #dbdbdb;}
.linha-bottom{border-bottom: 1px solid #dfdfdf;}
.btn-download{background-color: #3F79BB; padding:2.5% 7%; color:white; font-family: 'Montserrat'; font-size: 14px; background-image: url(img/ico-download.svg); background-repeat: no-repeat; background-position: center left; background-position-x:5%; border-radius: 5px; box-shadow: 0 5px 1px #dfdfdf; margin-right: 10px; padding-left:9%;}
.btn-download:hover{text-decoration: none; color:white; background-color:#34659A;}
.btn-download:active{box-shadow:inset 0 2px 8px #2D2D2D; background-color:4079BC;}

.novos-botoes{margin-top:30px; background-color:@white; padding-top:1px; padding-left:20px; padding-bottom:60px; border:1px solid #dfdfdf;}
.novos-botoes a{background-color: @green; color:white; font-family: 'Montserrat'; font-size: 16px; border-radius: 5px; padding:15px 45px; display:block; width:300px; float:left; text-align: center;}
.novos-botoes a:hover{text-decoration: none; color:white; background-color:#61B789;}
.novos-botoes a:active{box-shadow: inset 0 2px 8px #2D2D2D; background-color: @green;}
.novos-botoes h3{font-size:30px; text-transform:none; margin-top:20px; margin-bottom:42px;}
.novos-botoes a:first-child{margin-right:10px;}


.btn-download-oa{font-family: 'Montserrat'; font-size: 18px; background-color:#27BBB5; color: white; width:100%; display:block; padding:20px; text-align: center; margin-bottom: 20px; border-radius:5px; background-image: url(img/ico-manual.svg); background-repeat: no-repeat; background-position: center left; background-position-x:5%; padding-left:15% }
.btn-download-oa:hover{text-decoration:none; color:white; background-color:#209993; }
.btn-download-oa:active{box-shadow:inset 0 2px 8px #2D2D2D; background-color:4079BC;}
.btn-download-oaf{font-family: 'Montserrat'; font-size: 18px; background-color:#27BBB5; color: white; width:100%; display:block; padding:20px; text-align: center; margin-bottom: 20px; border-radius:5px; background-image: url(img/ico-fontes.svg); background-repeat: no-repeat; background-position: center left; background-position-x:5%; padding-left:15% }
.btn-download-oaf:hover{text-decoration:none; color:white; background-color:#209993; }
.btn-download-oaf:active{box-shadow:inset 0 2px 8px #2D2D2D; background-color:4079BC;}

.linha-vertical {border-left: 1px solid #dbdbdb;}
.clearfix {clear: both;}
.oculto{display:none;}
#rodape-mobile{display:none;}


/*ESTILIZAÇÃO BRUNO*/
.area-banner-top {
	width: 100%;
	border-top: 4px solid #00A652;
	height: 437px;
	border-bottom: 4px solid #00A652;
	margin-top: 30px;
	margin-bottom: 20px;
}
.area-menu-superior {
	position: relative;
	height: 50px;
	margin-top: 20px;
	z-index: 10;

	.img-logo {
		float: left;
		height: 50px;
		width: 190px;
		margin-right: 20px;

		img {
			width: 100%;
		}
	}
}
.area-busca-menu {
	float: right;
	min-width: 926px;
	background-color: #FFCC2A;

	.area-busca {
		height: 50px;
		width: 45%;
		float: left;

		.btn-procurar {
			float: left;
			height: 50px;
			width: 50px;
			font-size: 25px;
			text-align: center;
			padding-top: 10px;
		}
		.txt-busca {
			float: left;
			height: 50px;
			width: 80%;
			border: 0px;
			padding-left: 20px;
			font-family: 'Open Sans';
		}
	}
	.area-menu {
		float: left;
		width: 54%;
		font-family: 'Montserrat';
		font-size: 12px;
		padding-left: 0;

		a{
			color:#444;
		}
		.menu {
			list-style-type:none;

			.item {
				display:inline-block;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-weight: bold;
				font-size:14px;

				&:hover {
					background-color: #FFD54B;
				}
				a{
					text-decoration:none;
				}
			}
		}
	}
}



.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item.it1 {width: 23%;}
.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item.it2 {width: 29%;}
.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item.it3 {width: 20%;}
.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item.it4 {width: 20%;}
.area-banner-top .slide-principal {display: absolute; width: 100%; height: 430px; top: -70px;}
.area-banner-top .slide-principal img  {width: 100%; height: 430px; margin-top: -1px;}
.area-banner-top .slide-principal .carousel-caption {font-size: 38px; color: @white; font-weight: bold; text-align: left; padding-bottom: 100px;  font-family: 'Montserrat'; line-height:1.2em;}
.area-banner-top .slide-principal .carousel-indicators {}
.area-banner-top .slide-principal .carousel-indicators  li {margin-bottom: 5px;}
.area-banner-top .slide-principal .carousel-indicators  .lnk-mais-destaques {width: 20px; height: 20px; margin-bottom: 2px; background: @white url('/wp-conteudo/themes/templategdf/img/icone-ver-mais.png'); background-position:center; background-repeat:no-repeat; }
.area-banner-top .slide-principal .carousel-inner {}
.area-banner-top .slide-principal .carousel-inner .item {cursor:pointer;}

.area-banner-top-internas {width: 100%; border-top: 4px solid #00A652; height: 220px; margin-top: 30px; background: url(img/interno.jpg) center/cover; background-repeat: no-repeat;}
.area-banner-top-internas .area-menu-superior {position: relative; height: 50px; margin-top: 20px; z-index: 100;}
.area-banner-top-internas .area-menu-superior .img-logo {float: left; height: 50px; width: 190px; margin-right: 20px;}
.area-banner-top-internas .area-menu-superior .img-logo img {width: 100%;}
.area-banner-top-internas .area-menu-superior .area-busca-menu {float: right; min-width: 926px; background-color: #FFCC2A;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca {height: 50px; width: 45%; float: left;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca .btn-procurar {float: left; height: 50px; width: 50px; font-size: 25px; text-align: center; padding-top: 10px;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca .txt-busca {float: left; height: 50px; width: 80%; border: 0px; padding-left: 20px; font-family: 'Open Sans';}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu {float: left; width: 54%; font-family: 'Montserrat'; font-size: 12px; padding-left: 0;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu a{color:@black;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu {list-style-type:none;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item {display:inline-block; height: 50px; line-height: 50px; text-align: center; font-weight: bold; font-size:14px;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item:hover {background-color: #FFD54B;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item a{text-decoration:none;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item.it1 {width: 23%;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item.it2 {width: 29%;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item.it3 {width: 20%;}
.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item.it4 {width: 20%;}




.miniCalendario {width: 100%; margin-top: 14px;}
.miniCalendario .cabecalho {}
.miniCalendario .cabecalho .seta {width: 28px; height: 28px; line-height: 32px; text-align: center; margin: 0 5px; border-radius: 50%; color: @white; font-weight: bold; float: left; margin-top: 6px; cursor: pointer;}
.miniCalendario .cabecalho .seta.seta-verde {background-color: #01A858;}
.miniCalendario .cabecalho .seta.seta-azul {background-color: #28BBB5;}
.miniCalendario .cabecalho .area-central {height: 40px; line-height: 40px; float: left; width: 65%; color: @white; text-align: center; border-radius: 7px; font-weight: bold; font-size: 18px; text-transform: uppercase;}
.miniCalendario .cabecalho .area-central .verde {border-top-left-radius: 7px; border-bottom-left-radius: 7px;  background-color: #01A858; width: 60%; float: left;}
.miniCalendario .cabecalho .area-central .azul {border-top-right-radius: 7px; border-bottom-right-radius: 7px; background-color: #28BBB5; width: 40%; float: left;}

.miniCalendario table {width: 86%; border: 0px; margin: 20px 0px 0px 7%;}
.miniCalendario table thead {}
.miniCalendario table thead tr {}
.miniCalendario table thead tr th {text-align: center; color: #BDA713; font-weight: bold; height: 30px; vertical-align: middle;}
.miniCalendario table tbody {}
.miniCalendario table tbody tr {}
.miniCalendario table tbody tr td {text-align: center; color: #000; font-weight: bold; height: 30px; vertical-align: middle;}
.miniCalendario table tbody tr td span {cursor: pointer;}
.miniCalendario table tbody tr td.inactive {color: @gray}
.miniCalendario table tbody tr td .active {border-radius: 50%; background-color: #00A958; color: @white; display: block; width: 26px; height: 24px; line-height: 24px; margin: 0px auto !important; text-align:center;}

#box-diario-oficial{}
#box-diario-oficial .titulo{width: 90%; margin-left: 10%;}
#box-diario-oficial #busca {width: 90%; height: 48px; margin-left: 5%; background-image: url('/wp-conteudo/themes/templategdf/img/ico-lupa.svg'); background-repeat: no-repeat; border: 1px solid #E0E0E0; border-radius: 7px; font-size: 18px; color: #30BCB9; padding-left: 50px;}
#box-diario-oficial #busca:focus {outline: none;}
#box-diario-oficial .area-select-dodf {margin-top: 15px; border-top: 1px solid #DCDCDC; padding-top: 15px; margin-left: 7%; width: 86%;}
#box-diario-oficial #dodf-file-select {width: 100%; height: 50px; background-color: #E0E0E0; color: #407ABA; font-size: 18px; border-radius: 10px; border: 0px; overflow: hidden; background: url('/wp-conteudo/uploads/2015/10/DODF-Select.jpg') no-repeat right #E0E0E0;appearance:none;-moz-appearance:none; /* Firefox */ -webkit-appearance:none; /* Safari and Chrome */}
#box-diario-oficial #dodf-file-select:focus {outline: none;}
#box-diario-oficial #dodf-file-select option {padding-left: 0px; background-color: #E0E0E0; font-size: 18px;}

.areaAcessibilidade {font-family: 'Montserrat';}
.areaAcessibilidade #popoverAcessibilidade {cursor: pointer;}
.areaAcessibilidade #popoverAcessibilidade .aMenor{font-size: 11px;}
.cntAcessibilidade {width: 228px;}
.cntAcessibilidade .titulo {text-align: center; margin-top: 20px; margin-bottom: 15px; font-size: 12px; font-family: 'Montserrat';}
.cntAcessibilidade .aMenor {float: left; padding: 0px 10px 0px 20px; font-size: 12px; font-family: 'Montserrat';}
.cntAcessibilidade .ranger {float: left; width: 142px;}
.cntAcessibilidade .ranger:focus{outline: none;}
.cntAcessibilidade .ranger .sizeFont {}

.ie8 .cntAcessibilidade .ranger, .ie9 .cntAcessibilidade .ranger, .ie10 .cntAcessibilidade .ranger {margin-top: -15px;}
input[type=range] {-webkit-appearance: none;}
input[type=range]::-webkit-slider-runnable-track {width: 1px; height: 3px; cursor: pointer; animate: 0.2s; background: #BFBFBF; border-radius: 1.3px; margin-top: 7px;}
input[type=range]::-ms-track {height: 3px; background: #BFBFBF; border-radius: 1.3px; margin-top: 7px; margin-bottom: 7px; padding-top: 0px; }


.cntAcessibilidade .ranger input[type=range]::-webkit-slider-thumb{-webkit-appearance:none; border:1px solid #01A453;height:16px;width:16px;border-radius:50%;background:#01A453;cursor:pointer; margin-top: -7px;}
.cntAcessibilidade .ranger input[type=range]::-moz-range-thumb{border:1px solid #01A453;height:16px;width:16px;border-radius:50%;background:#01A453;cursor:pointer}
.cntAcessibilidade .ranger input[type=range]::-ms-thumb{border:1px solid #01A453; height:16px; width:16px; border-radius:50%; background:#01A453; cursor:pointer;}
.cntAcessibilidade .aMaior {float: left; padding: 0px 0px 0px 10px; font-size: 15px; font-family: 'Montserrat';}
.cntAcessibilidade .bg-verde {margin-top: 30px; height: 70px; background-color: #00A551; padding-top: 25px;}
.cntAcessibilidade .bg-verde .areacheckbox {float: left; margin-left: 20px; width: 25px; height: 25px; margin-right: 10px;}
.cntAcessibilidade .bg-verde .areacheckbox label:before {display: block; width: 20px; height: 20px}
.cntAcessibilidade .bg-verde .info-contraste {float: left; color: @white; font-size: 13px; font-weight: bold; margin-top: 5px; font-family: 'Montserrat';}

.cntAcessibilidade .bg-verde .checkboxCampoInterno {width:25px;height:25px;background:#ddd;margin:0;border-radius:100%;position:relative;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);box-shadow:0 1px 3px rgba(0,0,0,0.5)}
.cntAcessibilidade .bg-verde .checkboxCampoInterno label{float:left;display:block;width:30px;height:25px;border-radius:50%;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease;cursor:pointer;position:absolute;top:0;left:0;z-index:10;background:@white;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);box-shadow:inset 0 1px 3px rgba(0,0,0,0.5)}
.cntAcessibilidade .bg-verde .checkboxCampoInterno input[type=checkbox]:checked + label{background:#26ca28}
.cntAcessibilidade .bg-verde #checkboxAcessibilidade {margin-left:5px;}

.categorias-site {}
.categorias-site .itens-categoria {}
.categorias-site .itens-categoria .item {height: 245px; font-family: 'Titillium Web'; text-align: center; border-radius: 3px;}
.categorias-site .itens-categoria .item img {-webkit-filter: opacity(0.5);}
.categorias-site .itens-categoria .item .bg-azul {width: 100%; height: 245px; background: rgba(64, 121, 188, 0.8); border-radius: 7px;}
.categorias-site .itens-categoria .item .bg-ciano {width: 100%; height: 245px; background: rgba(40, 187, 182, 0.8); border-radius: 7px;}
.categorias-site .itens-categoria .item .bg-verde {width: 100%; height: 245px; background: rgba(0, 164, 81, 0.8); border-radius: 7px;}
.categorias-site .itens-categoria .item .bg-verde img{-webkit-filter: opacity(1);}
.categorias-site .itens-categoria .item .txt-inline {color: @white; font-size: 26px;}
.categorias-site .itens-categoria .item .txt-inline:hover{text-decoration: underline;}
.categorias-site .itens-categoria .item.col-md-6, .categorias-site .itens-categoria .item.col-md-3 {}
.categorias-site .itens-categoria .item.col-md-6 .txt-inline  {font-size: 26px;}
.categorias-site .itens-categoria .item .img-top{font-size: 70px; padding: 20px 0px 15px 0px;}
.categorias-site .itens-categoria .item .txt-inline-bottom {color: @white; font-size: 26px;}
.categorias-site .itens-categoria .item .txt-inline-bottom:hover{text-decoration: underline;}

.btn-gdf {display: block; color: @white; border-radius: 5px; width: auto; height: 50px; font-size: 20px; text-align: center; margin-top: 40px; -webkit-box-shadow: 0 5px 1px #dfdfdf; -moz-box-shadow: 0 5px 1px #dfdfdf; box-shadow: 0 5px 1px #dfdfdf;}
.btn-gdf .area-txt, .area-txt {float: left; padding-top: 13px; margin-left: 30px;}
.btn-gdf .btn-plus {color: @white; background-color: #26BBB5; font-weight: bold; border-radius: 50%; width: 30px; height: 30px; line-height: 28px; text-align: center; display: block; float: left; margin-left: 25px; margin-top: 10px;}
.btn-plus2 {font-size:21px; color: @white; background-color: #00a351; border-radius: 50%; width: 20px; height: 20px; line-height: 17px; text-align: center; display: block; float: left; margin-right:10px; background-image:url(img/saiba-mais-2.svg); background-repeat:no-repeat; background-position:center center;}
.btn-gdf.azul {background-color: #4079BC; color: @white;}
.btn-gdf.azul:hover {background-color: #34659A; color: @white;}
.btn-gdf.azul:active{box-shadow:inset 0 2px 8px #2D2D2D;}
.btn-gdf.verde {background-color: #00A85A; color: @white;}
.btn-gdf.verde:hover {background-color: #61B788; color: @white;}
.btn-gdf.verde:active{box-shadow:inset 0 2px 8px #2D2D2D;}
.btn-gdf.azul a, .btn-gdf.verde a {color: @white;}

.widget-slide {}
.widget-slide .btn-anterior {background-color: #346399; color: @white; height: 80px; line-height: 80px; width: 4%; float: left; font-weight: bold; text-align: center; cursor: pointer;}
.widget-slide .principal {border: 1px solid #E0E0E0; background-color: @white; width:91.5%; float: left; border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.widget-slide .principal .area-esquerda {padding: 50px 50px 0 50px; float: left; width: 39.5%;}
.widget-slide .principal .area-esquerda .titulo {color: #0CA759; font-size: 36px; font-family: 'Montserrat';}
.widget-slide .principal .area-esquerda .texto {color: @black; font-size: 18px; line-height: 20px; margin-top: 10px; font-family: 'Open Sans'; font-size: 16px;}
.widget-slide .principal .area-esquerda .btn-saiba-mais {width: 195px;}
.widget-slide .principal .area-direita {float: right; width: 60%; font-size: 0;}
.widget-slide .principal .area-direita img { width: 100%;}
.widget-slide .btn-posterior {background-color: #346399; color: @white; height: 80px; line-height: 80px; width: 4%; float: left; font-weight: bold; text-align: center; cursor: pointer;}


.page-conheca-brasilia {}
.page-conheca-brasilia .bkg-widget, .page-invista-em-brasilia  .bkg-widget {background: transparent url("img/background-conheca-brasilia.png") repeat scroll 0% 0%}

.page-agenda-gov{}


.servicos-temas {margin: 4%;}
.servicos-temas .item-servico {background-color: #F1F1F1; border: 1px solid #F1F1F1; border-radius: 10px; height: 200px; text-align: center; float: left; width: 22%; margin-right: 4%; margin-bottom: 35px; padding-top: 20px; cursor: pointer;}
.servicos-temas .item-servico:hover {background-color: #FBFBFB; border: 1px solid #E0E0E0; border-radius: 10px;}
.servicos-temas .item-servico.active {background-color: #FBFBFB; border: 1px solid #E0E0E0; border-radius: 10px;}
.servicos-temas .item-servico .area-icone {background-color: @white; width: 100px; height: 100px; border-radius: 50%; line-height: 100px; color: #29BAB7; margin: 0px auto !important; margin-top:23px}
.servicos-temas .item-servico:hover .area-icone {background-color: #29BCB6; color: @white;}
.servicos-temas .item-servico:hover .area-icone img {-webkit-filter:brightness(8); filter:brightness(8);}
.servicos-temas .item-servico .area-icone img {margin-top: 23px;}
.servicos-temas .item-servico .text-servico {color: #505050; font-size: 16px; font-weight: bold; margin-top: 15px; padding: 0px 10px; text-transform:uppercase; line-height:1.3em;}
.servicos-temas .item-servico:hover .text-servico {color: #29BCB6;}


.area-fale-governo {}
.area-fale-governo .panel {border-radius: 8px;}
.area-fale-governo .panel-heading {padding: 20px 30px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.area-fale-governo .panel-primary {border: 1px solid #E0E0E0; }
.area-fale-governo .panel-primary > .panel-heading {background-color: #4079BC; border-color: #4079BC; font-size: 18px; border-bottom: 1px solid #E0E0E0;}
.area-fale-governo .area-ouvidoria {}
.area-fale-governo .area-ouvidoria .img {text-align: center; margin-top: 5px;}
.area-fale-governo .area-ouvidoria .texto {margin: 7%; font-size: 18px; text-align: center;}
.area-fale-governo .area-ouvidoria .btn-fale-ouvidoria {width: 80%; margin-left: 10%; margin-top: 10px; margin-bottom: 10px;}
.area-fale-governo .area-ouvidoria .btn-fale-ouvidoria .area-txt {width: 100%; text-align: center; margin-left: 0px; font-family:"Montserrat"; font-size:18px;}
.area-fale-governo .area-sociais .panel-body {padding: 95px 5% 95px 0px;}
.area-fale-governo .area-sociais .panel-body #icones {margin-top:20px; width: 200px; margin: 0px auto !important;}
.area-fale-governo .area-sociais .panel-body #icones a{color:white; background:#00A451; width: 38px; height: 38px; line-height: 38px; border-radius: 50%; text-align: center; margin-left: 5%; display: block; float: left;}
.area-fale-governo .area-sociais .panel-body #icones a:hover {text-decoration: none; background: #008e4b;}


.area-fale-governo .area-156 {}
.area-fale-governo .area-156 .area-teclas {line-height: 23px;}
.area-fale-governo .area-156 .area-teclas ul {}
.area-fale-governo .area-156 .area-teclas ul li {list-style-type: none; font-size: 18px;}
.area-fale-governo .area-156 .area-teclas ul li .tecla {color: #28BBB5; font-weight: bold;}
.area-fale-governo .area-tel-uteis {}
.area-fale-governo .area-tel-uteis .panel-body {line-height: 10px;}
.area-fale-governo .area-tel-uteis .item-telefone {width: 203px; margin: 0px auto !important;}
.area-fale-governo .area-tel-uteis .item-telefone .nu-telefone {width: 70px; height: 60px; line-height: 60px; font-size: 26px; float: left; background-color: #29BCB6; color: @white; text-align: center; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.area-fale-governo .area-tel-uteis .item-telefone .txt-telefone {float: left; width: 130px; height: 60px; border: 1px solid #E0E0E0; font-size: 14px; font-family: 'Montserrat'; text-align: left; padding-left: 15px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; line-height:1.1em; text-transform:uppercase;}
.area-fale-governo .area-tel-uteis .item-telefone .txt-telefone p{position: relative; top: 50%; transform: translateY(-50%);}

.area-fale-governo .btn-org-entidades {float: left; height: 60px;}
.area-fale-governo .btn-org-entidades .area-txt {margin-left: 0px; width: 100%; text-align: center; padding-top: 18px; font-size:18px; font-family:"Montserrat";}
.area-fale-governo .btn-org-entidades.btn1 {width: 25%; margin-right: 1%;}
.area-fale-governo .btn-org-entidades.btn2 {width: 27%; margin-right: 1%;}
.area-fale-governo .btn-org-entidades.btn2 .area-txt {padding-top: 10px;}
.area-fale-governo .btn-org-entidades.btn3 {width: 22%; margin-right: 1%;}
.area-fale-governo .btn-org-entidades.btn4 {width: 22%;}
.area-fale-governo .conversa-franca-texto{font-size:16px;}

.separador-imprensa {margin: 40px 0px;}
.area-sala-imprensa {border: 1px solid #E0E0E0; border-radius: 7px; padding: 40px; min-height: 120px; background-color: @white;}
.area-sala-imprensa .btn-sala-imprensa {float: left; height: 50px; width: 35%; margin-top: 0px;}
.area-sala-imprensa .btn-sala-imprensa .area-txt {margin-left: 0px; width: 100%; text-align: center; padding-top: 14px; text-align: center; font-size:18px; font-family: "Montserrat";}
.area-sala-imprensa .txt-sala-imprensa {float: right; width: 60%; font-size: 18px;}

.area-participacao {margin-top: 50px;}
.area-participacao .img-participacao {height: 203px; margin-left: -15px;}
.area-participacao .img-participacao img{width:100%; }
.area-participacao .img-participacao .img-participacao {}
.area-participacao .img-participacao .img-participacao img {}
.area-participacao .img-participacao .bg-img-participacao {background: rgba(7, 105, 56, 0.75); height: 203px; line-height: 203px; font-size: 30px; color: @white; text-align: center;}
.area-participacao .txt-participacao {font-size: 16px; line-height:1.3em;}

.padrao-accordion {}
.padrao-accordion .panel-default {}
.padrao-accordion .panel-default .panel-heading {background-color: #346399; color: @white; padding: 20px 50px 20px 40px}
.padrao-accordion .panel-default .panel-heading:hover {background-color: #4079BC; cursor: pointer;}
.padrao-accordion .panel-default .panel-title {font-family: 'Titillium Web', sans-serif; font-size: 18px; font-weight: bold;}
.padrao-accordion .panel-default .panel-title a:hover {color: @white;}
.padrao-accordion .panel-default .panel-title a:focus {color: @white;}
.padrao-accordion .panel-default .panel-title .btnOpen {position: absolute; margin-top: -21px; right: 5%; width: 25px; height: 25px; font-size: 14px; border-radius: 50%; background-color: #6798D0; text-align: center; padding-top: 5px; }
.padrao-accordion .panel-default .panel-body {padding: 40px; line-height: 20px; font-size: 16px; line-height:1.7em;}
mark{vertical-align:middle;}

.servicos {font-family: "Titillium Web"; line-height: 20px; font-size: 18px;}
.servicos h3 {display: block; clear: both; width: 100%;}
.servicos .img-lateral {float: left; width: 260px; padding-right: 20px; padding-bottom: 20px;}
.servicos .icone {margin: 20px 0px; font-weight: bold; font-size: 20px;}
.servicos .strong {font-weight: bold; margin-top: 10px;}
.servicos .btn-fale-ouvidoria {width: 212px;}
.servicos .ordem-list {margin-top: 20px;}

.servicos table.ordem-list {}
.servicos table.ordem-list tr th:nth-child(2){}
.servicos table.ordem-list tr td{border-top: 1px solid transparent;}
.servicos table.ordem-list tr:nth-child(2n){background-color: transparent;}

.servicos .ordem-list tr td.bullet {width: 70px; height: 70px; max-height: 70px; max-width: 70px; vertical-align: middle; padding: 10px 0px;}
.servicos .ordem-list tr td .nu-item {background: url(/wp-conteudo/themes/templategdf/img/big-bullet.png) center/cover; width: 100%; height: 70px; text-align: center; font-weight: bold; font-size: 50px; color: @white; line-height: 60px;}
.servicos .ordem-list tr td.txt-item {vertical-align: middle; padding: 0px 0px 15px 30px;}
.servicos .ordem-list tr td .linha {width: 2px; margin: 0px auto !important; background-color: #E0E0E0;}
.servicos .area-atendimento {background-color: #4079BC; padding: 30px; border-radius: 5px; color: @white; text-align: center; width: 47%; margin-right: 5%; float: left; margin-top: 15px;}
.servicos .area-tempo {background-color: #01A451; padding: 30px; border-radius: 5px; color: @white; text-align: center; width: 47%; float: left; margin-top: 15px;}
.servicos hr {margin-top: 45px; margin-bottom: 45px; height: 100%;}
.servicos .item-agenda {border: 1px solid #E0E0E0; border-radius: 10px; margin-top: 20px;}
.servicos .item-agenda .dt-agenda {float: left; color: @white; font-weight: bold; font-size: 30px; text-align: center; width: 20%; background-color: #4079BC; padding: 25px 0px; line-height: 30px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.servicos .item-agenada .txt-conteudo {float: left; width: 79.8%; font-size: 18px; text-align: center; background-color: #F5F5F5; padding: 25px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.servicos .area-arquivos {margin-top: 25px;}
.servicos .area-arquivos .arquivo-download {float: left; width: 221px; border: 1px solid #E0E0E0; border-radius: 7px; background-color: #F5F5F5; padding: 15px 18px; margin-right: 20px;}
.servicos .area-arquivos .arquivo-download .img-pdf {width: 39px; height: 46px; margin-right: 7px; float: left; background: url('img/ico-adobe-2.svg') center/cover;}
.servicos .area-arquivos .arquivo-download .context {font-weight: bold; width: 135px; float: left; height: auto;}
.servicos .area-arquivos .arquivo-download .context .desc-file {font-weight: normal;}

.panel-menu-servico {
	&.panel-primary,
	&.panel-secondary {
		border-color: #E0E0E0
	}
	.panel-heading {
		font-size: 18px;
		text-align: center;
	}
	.panel-body-menu {
		padding-bottom: 20px;
		.area-lnk {
			background-color: #F5F5F5;
			height: 40px; text-align:
			center; line-height: 40px;
			margin-bottom: 10px;

			a{
				color: #4178BB;
			}
		}
		a{
			display: block;
			width: 100%;
			font-family: 'Montserrat';

			&.titulo {
				color: #00A551;
				font-size: 16px;
				padding: 5px 0px;
				padding-left: 30px;
				font-family:"Montserrat";
				border-left: 4px solid transparent;

				&:first-child{
					margin-top:18px;
				}
			}
			&.subtitulo {
				color: @black;
				padding: 5px 0px 5px 50px;
				font-size: 16px;
				font-family:"Montserrat";
				border-left: 4px solid transparent;
			}

			&.titulo,
			&.subtitulo{
				&.active,
				&:hover{
					border-left: 4px solid #00A451;
				}
			}
		}
	}
}


.categorias-visitar .text-descricao {font-size: 18px; line-height: 27px;}
.categorias-visitar .bkg-post-visitar {background-color: #F1F1F1;}
.categorias-visitar .bkg-post-visitar hr {border-color: #DCDCDC;}
.categorias-visitar .post-visitar {margin-top: 60px;}
.categorias-visitar .post-visitar .img-visitar {width: 100%; height: 240px;}
.categorias-visitar .post-visitar h3 {color: #3F79B8;}
.categorias-visitar .post-visitar .texto {font-size: 16px; line-height:27px;}
.categorias-visitar .post-visitar .btn-gdf {margin-top: 20px;}
.categorias-visitar .post-visitar .btn-saiba-mais {width: 207px; margin-bottom: 80px;}

.pagination {}
.pagination li {}
.pagination li a {font-family: 'Titillium Web', sans-serif; font-size: 18px; font-weight: bold;}
.pagination li span {font-family: 'Titillium Web', sans-serif; font-size: 18px; font-weight: bold;}
.pagination > li > a {background-color: #E0E0E0; border: 2px solid #F1F1F1; color: #767676}
.pagination > li:first-child > a {border-top-left-radius: 10px; border-bottom-left-radius: 10px; color: #4079BE;}
.pagination > li:last-child > a {border-top-right-radius: 10px; border-bottom-right-radius: 10px; color: #4079BE;}
.pagination > li > a:hover, .pagination > li > a:focus{z-index: 3; color: @white; background-color: #4079BC; border: 2px solid #F1F1F1;}
.pagination > li > span.current {z-index: 3; color: @white; background-color: #4079BC; border: 2px solid #F1F1F1;}
.pagination > li > span.prev {border-bottom-left-radius: 10px; border-top-left-radius: 10px;}
.pagination > li > span.next {border-bottom-right-radius: 10px; border-top-right-radius: 10px;}


#systemModal {}
#systemModal .btn-close-errors {float: right; margin: 20px 20px 0px 0px; width: 35px; height: 35px; border-radius: 50%; background-color: @gray; color: @white; line-height: 35px; text-align: center; position: relative; cursor: pointer; z-index: 9}
#systemModal .modal-body {padding: 40px 80px; font-family: 'Titillium Web', sans-serif; font-size: 17px;}
#systemModal .modal-body #erroDescricao {height: 230px;}
#systemModal .modal-body #erroLocalizacao {height: 148px;}
#systemModal .modal-body .btnCancelar {background-color: @white; font-size: 17px;}
#systemModal .modal-body .btnCancelar:hover{text-decoration: underline;}
#systemModal .modal-body .btnEnviar {background-color: #29BCB6; color: @white; border-color: @white; height: 50px; width: 180px; font-size: 20px;}
#systemModal .modal-body .btnEnviar:hover {background-color: #69D2CE; }
#systemModal .modal-body .input-erro {border: 2px solid #EA4D3C;}


#systemModal .modal-body{background-color:fbfbfb;}
#formComunicarErros{color:@black; line-height:1.7em;}
#formComunicarErros h2{color:@black;}
#formComunicarErros div{font-family:'Open Sans';}
#formComunicarErros label{font-family:'Montserrat'; }
#systemModal .modal-body #erroDescricao{margin-top:12px;}
#formComunicarErros .form-group div{font-family:'Montserrat';}
#formComunicarErros .form-group label{margin-right:25px;}
#formComunicarErros input[type="radio"]{margin-right:10px;}
#systemModal .modal-body .btnEnviar{font-family:"Montserrat"; font-size:18px; width:130px;}
#systemModal .modal-body #erroLocalizacao{margin-top:12px;}
#formComunicarErros .areaLocalizacao{margin-top:40px;}
#formComunicarErros textarea.erro {border: 2px solid #EA4D3C;}


.alert-msg {position: relative; color: @white; display: block; height: 60px; border-radius: 5px;}
.alert-msg.alert-vermelho {background-color: #E94E3C;}
.alert-msg.alert-verde {background-color: #61B788;}
.alert-msg.alert-azul {background-color: #34659A;}
.alert-msg .area-img{width: 35px; height: 35px; line-height: 50px; float: left; padding-top: 13px; margin-left: 20px;}
.alert-msg .area-img img{width: 100%;}
.alert-msg .area-txt-msg{position: absolute; width: 85%; float: right; height: 60px; left: 65px; top: 0px; display: table;}
.alert-msg .area-txt-msg p{display: table-cell; vertical-align: middle; padding-left: 10px; line-height:1.3em;}



.menu-superior-escondido{display:none !important;}

.resultado-pesquisa{}
.resultado-pesquisa .info-resultado-esq{color: #999999; font-size: 16px; font-family:'Open Sans';}
.resultado-pesquisa .info-result-palavra{color: #407ABA; font-weight: bold; font-size: 18px; font-family:'Open Sans';}
.resultado-pesquisa .info-result-dir{color: #999999; font-size: 14px; font-family:'Open Sans'; text-align: right;}
.resultado-pesquisa ul{list-style:none;}
.resultado-pesquisa ul li a.title{font-family:'Open Sans'; font-size: 24px; text-transform:uppercase; color:#3F79BB;}
.resultado-pesquisa ul li a:hover {text-decoration: none;}
.resultado-pesquisa p{font-family:'Open Sans'; font-size: 16px; color:@black; line-height:1.7em; margin-bottom:40px;}

.widgettitle{display:none;}

.mapa-do-site{}
.mapa-do-site h2{font-size:36px;}
.mapa-do-site h4 {margin-top:20px;}
.mapa-do-site h4 a{font-family:"Titillium Web"; font-size:24px; text-transform:uppercase;color:#BFA711;}
.mapa-do-site p a{font-size:16px; font-family:'Open Sans'; color:#757575; line-height:1.7em;}

.rsswidget{border-bottom:1px solid #dbdbdb; padding-bottom:30px;}

/* TRADUÇÃO */
.traducao{}
.traducao ul {list-style:none;}
.traducao ul  li{display:inline;}
#polylang-2{list-style:none;}


/* Banner */
.bgrumocerto{padding:15px 0 0;background:url(img/bg_rumocerto.jpg) -5px -95px no-repeat;min-height:107px;max-width:1140px}
.centralizabanner ul{display:inline}
.centralizabanner{max-width:560px;margin:0 auto}
.brumocertoesq{margin:0 20px 0 0}
.brumocertodir{font:25px montserrat;font-weight:400;color:#fdcc2f;line-height:25px;text-align:left;margin:12px 0 0 120px;border-left:solid 3px @white}

@media screen and (max-width:420px) {
    .bgrumocerto{height:200px;background:url(img/bg_rumocerto.jpg) -5px -50px no-repeat}
    .brumocertodir{left:-40px;top:20px;width:300px}
    .brumocertoesq{left:63px;top:20px}
}



@-ms-viewport {
  width: device-width;
}

/* Desktop large LG
------------------------- */
@media (min-width: 1200px) {
.ico-brand{display:none;}
.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:920px;}
#topo-site #barra-superior-2 #ancoras{margin-top:15px;}
#topo-site .fale-com-o-governo-sm{display:none;}

}

/* Desktop MD
------------------------- */
@media (min-width: 992px) and (max-width: 1199px){

    .miniCalendario .cabecalho .area-central {width: 58%;}
	#topo-site #icones-servicos{margin-top:100px;}
	.navbar-brand > img{display:none;}
	.container{padding-left:10px;}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left:-30px;}
	#topo-site #barra-superior .navbar-default{height:30px;}
	#topo-site #barra-superior-2 h3{font-size:25px;}
	#topo-site #barra-superior-2 #ancoras{margin-top:12px;}
	#topo-site #barra-superior-2 h1{margin-top:8px;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item{font-size:12px;}
	.area-banner-top .area-menu-superior .area-busca-menu{min-width:730px;}
	#topo-site #icones-servicos{margin-top:45px;}
	#conteudo-portal #box-icones-servicos img{width:100%;}
	#conteudo-portal #programas-videos-agencia #programas div img{width:295px; height:200px;}
	#conteudo-portal #programas-videos-agencia #agencia-brasilia h2{font-size:30px; margin-top:30%;}
	#videos p iframe{width:297px;}
	#conteudo-portal #conheca-brasilia #saiba-mais a{font-size:14px;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item{font-size:12px;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:732px;}
	#rodape-mobile{display:block;}
#rodape-principal{display:none;}
.category-servicos .lista-cartas ul li{background-position-x:10%;}
.category-servicos .lista-cartas ul li a{width:100%;}

}



/* Tablet SM
------------------------- */
@media (min-width: 768px) and (max-width: 991px) {

	.area-banner-top .area-menu-superior .img-logo img{display:none;}
	.navbar-default .container{background-color:white;}
	.navbar-right{display:none;}
	.navbar-nav{border-top:1px solid #dfdfdf; margin-top:20px; padding-bottom:5px;}
	#topo-site #barra-superior-2{display:none;}
	.area-banner-top{margin-top:-20px;}
	.area-banner-top .area-menu-superior{margin-top:-30px;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item a{font-size:12px;}
	.area-banner-top .area-menu-superior .area-busca-menu{min-width:720px;}
	#conteudo-portal #programas-videos-agencia #agencia-brasilia{margin-top:29%;}
	#conteudo-portal #programas-videos-agencia #agencia-brasilia h2{font-size:30px; padding-bottom:6px;}
	#conteudo-portal #programas-videos-agencia #programas div:last-child img{display:none;}
	#conteudo-portal #programas-videos-agencia #programas div:nth-child(3) img{display:none;}
	#conteudo-portal #programas-videos-agencia #videos .col-md-6:nth-child(2){display:none;}
	#conteudo-portal #conheca-brasilia #text-conheca-brasilia {width:63%; float:left;}
	#conteudo-portal #conheca-brasilia #text-conheca-brasilia h1{font-size:55px;}
	#saiba-mais{margin-top: 19px;padding-top: 4px;position: relative; margin-left: 89px; z-index:1001; float:right;}
	#conteudo-portal #invista-em-brasilia h1{font-size:40px;}
	#conteudo-portal #invista-em-brasilia  .col-sm-7 img{width:116%;}
	#topo-site #barra-superior .navbar-default{background-color:white;}
	#topo-site #barra-superior .navbar-collapse ul li a{z-index:101; color:@black;}
	#topo-site #barra-superior .navbar-collapse ul li a{font-size:15px; padding-left:30px; padding-top:10px; padding-bottom:10px;}

	#topo-site #barra-superior .navbar-collapse ul li a:hover{color:black;}
	.miniCalendario .cabecalho{margin-left:10%;}
	#topo-site .fale-com-o-governo-sm{display:block; position:absolute; top:0; right:0; margin-top:30px; margin-right:30px;}
	.area-banner-top-internas .area-menu-superior .img-logo{display:none;}

	.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:720px;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item{font-size:12px;}
	#rodape #rodape-principal #icones-rodape a{font-size: 18px; margin-right: 5px; padding:6px; width:30px; height:30px;}

	#rodape-mobile{display:block;}
	#rodape-principal{display:none;}

	.category-servicos .lista-cartas ul li{background-position-x:0%;}
	.category-servicos .lista-cartas ul li a{width:100%;}
	.category-acesso .acesso-posicao-1{float:none;}

	#invista-em-brasilia iframe{width:100%; height:329px;}

	#box-diario-oficial{margin-top: 50px;}

}

/* Landscape phones XS
------------------------- */
@media (max-width: 767px) {

    #invista-em-brasilia iframe{width:100%; margin-top:30px;}
    .novos-botoes {margin-top:20px;}
    .novos-botoes a{font-size:12px; display:block; margin-top:10px; width:100%; text-align:center;}
    .novos-botoes a:nth-child(2){margin-left:0px;}
	.corpo-posts .categoria-sobre-o-governo-arq img{width:45%;}

	.categoria-sobre-o-governo strong{font-size:14px;}

	.widget-slide .principal .area-esquerda .btn-saiba-mais {width: 204px;}
	.btn-gdf .area-txt{margin-left:50px; font-size:16px; padding-top:12px; font-family:'Montserrat';}
	.btn-gdf .btn-plus{width:20px; height:20px; line-height:22px; margin-left:5px;}
	.widget-slide .principal .area-esquerda .btn-saiba-mais{height:40px; margin-bottom:40px;}
	.area-fale-governo .area-sociais .panel-body{padding-top:30px; padding-bottom:30px;}
	.area-fale-governo .area-156 .area-teclas ul li{font-size:12px;}
	.area-fale-governo .btn-org-entidades .area-txt{font-size:20px;}
	.area-sala-imprensa .txt-sala-imprensa{margin-top:none; margin-bottom:35px; text-align:center; font-family:'Open Sans'; font-size:16px;}


	.category-servicos .carta-de-servicos{padding-top:0;}
	.category-servicos .carta-de-servicos .nav-tabs a{width:270px; margin:5px 0; }
	.category-servicos .nav-tabs .active{border-bottom:none; padding-bottom:0;}
	.category-servicos .lista-locais .container{margin-top:-20px; border-top:2px solid #f1f1f1;}
	.category-servicos .lista-cartas .container{margin-top:40px;}
	.category-servicos .lista-cartas ul li{width:48%; background-size:30%; background-position-x:5%;}
	.category-servicos .lista-cartas ul li a{width:100%; font-size:12px;}
	.category-servicos .carta-de-servicos{padding-bottom:30px;}

	.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1020px}
	.menu-superior-escondido{display:block;}
	h2{margin-top:50px;}
    .area-menu{}
	#barra-superior-2{display:none;}
	.area-banner-top{border-top:none;}
	.slide-principal{margin:0;}
	.navbar-toggle{margin-right:0; margin-top:0; margin-bottom:0; width:60px; height:60px; text-align:center; background:#FFCC29; color:white; padding: 10px 19px; border-radius:0; border:none;}
	.img-logo{display:none;}
	.navbar-default .navbar-toggle .icon-bar{background-color:white; }
	.navbar{margin-bottom:0;}
	.navbar-header{background-color:white;}
	.area-banner-top .area-menu-superior .area-busca-menu{background-color:transparent;}
	#conteudo-portal #servicos-e-diario .serv-procurados .nav > li > a{font-size:11px;}
	.area-banner-top .area-menu-superior{margin-top:-10px;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-menu .menu .item a{display:none;}
	.area-menu{display:none;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-busca{float:right;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-busca {width:34%;}
	.area-banner-top .area-menu-superior .area-busca-menu .area-busca .btn-procurar{background-color:#FFCC29;}
	.area-banner-top{height:412px;}

	.area-banner-top-internas .area-menu-superior .area-busca-menu{background-color:transparent; margin-top:30px;}
	.area-banner-top-internas .area-menu-superior{margin-top:-10px;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-menu .menu .item a{display:none;}
	.area-menu{display:none;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca{float:right;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca {width:35%;}
	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca .btn-procurar{background-color:#FFCC29;}
	.area-banner-top-internas{height:170px;}

	.area-banner-top .area-menu-superior .area-busca-menu{min-width:289%}
	.area-banner-top .area-menu-superior .area-busca-menu .area-busca .txt-busca{font-size:12px;}


	#icones-servicos img{width: 60px; height:60px;}
	#icones-servicos img:first-child{padding-left:0;}
	#conteudo-portal #servicos-e-diario .serv-procurados h1{font-size:41px; margin-top:0;}
	#conteudo-portal #servicos-e-diario .serv-procurados{margin-top:-50px;}
	#box-diario-oficial .titulo{margin-top:40px;}
	#conteudo-portal #servicos-e-diario .serv-procurados .lista-servicos ul li{font-size:11px;}
	#box-diario-oficial form{margin-top:45px;}
	.miniCalendario .cabecalho .area-central {width:47%;}
	#conteudo-portal #programas-videos-agencia h1{font-size:41px;}
	#conteudo-portal #programas-videos-agencia #programas div img{width:100%; height: auto;}
	#conteudo-portal #programas-videos-agencia #agencia-brasilia{margin-top:15%; margin-bottom:15%;}
	#conteudo-portal #conheca-brasilia #text-conheca-brasilia h1{font-size:50px; width:100%;}
	#conteudo-portal #conheca-brasilia{background-image:none; background-color:#27BBB5;}
	#conteudo-portal #conheca-brasilia #imagem-grande{display:none;}
	.oculto{display:block;}
	.oculto img{width:100%;}
	.ocultar-menu{display:none;}

	#conteudo-portal #conheca-brasilia{border-bottom:65px solid #3F79BB;}
	#saiba-mais{margin-top: 19px;padding-top: 4px;position: absolute; margin-left: 89px;}

	#conteudo-portal #conheca-brasilia #saiba-mais{margin-top:10px;}
	#conteudo-portal #invista-em-brasilia span a{margin-left:1%;}
	#conteudo-portal #invista-em-brasilia h1{font-size:50px;}
	#conteudo-portal #invista-em-brasilia .col-md-8 img{width:100%; margin-top:60px;}
	#rodape #ante-rodape a{display:block; margin-right:0px; margin:20px 0;}
	#rodape-mobile{display:block;}
	#rodape-principal{display:none;}
	#rodape-mobile #icones-rodape{margin:40px 0; display:block}
	#rodape-mobile h2{margin-top:40px;}
	#rodape-mobile h5{color:@white;}
	#icones-servicos a p{font-size:12px;}

	.navbar-default .navbar-toggle:hover{background-color:#ffcc00;}
	.navbar-default .navbar-toggle:focus{background-color:#ffcc00;}
	.navbar-default .navbar-toggle:active{background-color:#ffcc00;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color:#346399; border:none;}
	#bs-example-navbar-collapse-1 a{color:white; font-size:15px; padding-left:0;}
	#topo-site #barra-superior .navbar-collapse ul li a{font-size:15px; padding-left:30px; padding-top:10px; padding-bottom:10px;}

	#topo-site #barra-superior .navbar-collapse ul li a:hover{color:#6AD1CD;}
	.ico-brand{display:block;}
	.ico-brand img{margin-top:-5px; margin-left:-7px;}
	.servicos-temas .item-servico{width:100%;}


    .widget-slide .principal {height: 450px; margin-left: 4%; padding-bottom:5%;}
    .widget-slide .principal .area-esquerda{width: 85%; position: absolute; margin-top: 172px;}
	.widget-slide .principal .area-esquerda .titulo{margin-top:0px; width:100%; font-size:24px;}
	.widget-slide .principal .area-esquerda .texto{width:100%; font-size:13px;}
    .widget-slide .principal .area-direita {width: 100%;}
	.widget-slide .principal .area-direita img{margin-left: 0px; width: 100%; height: 210px;}
	.widget-slide .btn-anterior{margin-top:65px; position:absolute; margin-left:-2px; width:8%; height:80px;}
	.widget-slide .btn-posterior{width:8%; height:80px; position: absolute; right: 2%;}



	.btn-gdf{margin-top:20px;}
    .btn-gdf .area-txt {margin-left: 52px;}

	.area-banner-top-internas{margin-top:0px;}

	.corpo-posts .categoria-sobre-o-governo table {border-radius:10px;}
	.corpo-posts .categoria-sobre-o-governo table tr td:first-child{display:none;}
	.corpo-posts .categoria-sobre-o-governo table tr td{padding:10px; }

	.corpo-posts .marca-do-governo ul li a{display:block; margin-top:5px; text-align:center; background-size:10%;}

	.area-fale-governo .btn-org-entidades.btn1{width:100%;}
	.area-fale-governo .btn-org-entidades.btn2{width:100%;}
	.area-fale-governo .btn-org-entidades.btn3{width:100%;}
	.area-fale-governo .btn-org-entidades.btn4{width:100%;}
	.area-fale-governo .btn-org-entidades.btn2 .area-txt{padding-top:20px;}
	.area-sala-imprensa .txt-sala-imprensa{margin-top:0; width:100%;}
	.area-sala-imprensa .btn-sala-imprensa .btn-gdf .azul{}
	.area-sala-imprensa .btn-sala-imprensa{height:46px; width:100%; margin-top:3px; line-height:30px;}
	.area-sala-imprensa .btn-sala-imprensa .area-txt{padding-top: 9px;}
	.area-participacao .txt-participacao{padding-left:0; margin-top:11px;}

	.informacoes_concursos{display:none;}

	.category-concursos{
		.nav-tabs{
			margin-left:-15px;
			width:362px;
			margin-bottom:5px;
			margin-top:20px;

			li{
				a{
					font-size:12px;
					padding:10px;
					color:gray;
				}
			}
		}
		.tab-content{
			margin-left:-15px;
			width:362px;
			margin-bottom:5px;
			margin-top:20px;
		}
	}

	.category-acesso table{overflow:auto; width:100%}
	.category-acesso table tr td{font-size:12px;}
	.category-acesso table tr th{font-size:16px;}

	.breadcrumb-paginas-internas{display:none;}
	.categorias-site .resumo-destaque img{width:100%;}

	.menu-superior-escondido{display:block !important;}
	#popoverAcessibilidade{display:none;}

	.miniCalendario .cabecalho .area-central .verde{font-size:12px;}
	.miniCalendario .cabecalho .area-central .azul{font-size:12px;}

    #videos {margin-top: 50px;}
	#videos iframe{width:100%;}

	.corpo-posts .conversa-franca iframe{width:100%}
	.corpo-posts .conversa-franca table tr:first-child{display:none;}
	.corpo-posts .conversa-franca h2{margin-bottom:-40px;}

	#conteudo-portal #servicos-e-diario .serv-procurados ul li a{padding:12px;}

	.area-banner-top-internas .area-menu-superior .area-busca-menu .area-busca{width:31%;}


	.corpo-posts .perfil-governador td:first-child img{width:100px; height:100px; margin-right:22px;}
	.corpo-posts .galeria-governadores .col-md-3{background-position:bottom; background-image:url(img/seta-azul-baixo.png); margin-top:30px;}
	.area-fale-governo .conversa-franca-texto{margin-top:30px;}


	.category-acesso .acesso-posicao-1{float:none;}
	.btn-download {padding: 20px; font-size: 18px; width: 100%;}
	.margin-top-40 {margin-top: 0px;}

    #conteudo-portal #servicos-e-diario .serv-procurados .lista-servicos ul li a .area-img {width: 15%;}
    #conteudo-portal #servicos-e-diario .serv-procurados .lista-servicos ul li a .area-txt-servico {width: 74%; font-size: 11px;}
    .corpo-posts .default blockquote p{margin:20px 4%;}
    .corpo-posts .default img{width:100%; height:0%;}

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    #conteudo-portal #servicos-e-diario .serv-procurados .lista-servicos ul li a .area-img {width: 19%;}
    #conteudo-portal #servicos-e-diario .serv-procurados .lista-servicos ul li a .area-txt-servico {width: 74%; font-size: 11px;}

    .miniCalendario .cabecalho .area-central {width: 49%;}

    .widget-slide .btn-anterior   {left: 0px; width: 33px;}
    .widget-slide .btn-posterior    {right: 0px; width: 33px; position: absolute;}
    .widget-slide .principal .area-esquerda .btn-saiba-mais {width: 204px;}

    .widget-slide .principal {height: 480px; margin-left: 4%;}
    .widget-slide .principal .area-esquerda {width: 85%; position: absolute; margin-top: 172px;}
    .widget-slide .principal .area-esquerda .titulo {margin-top: 0px; width: 100%;}
    .widget-slide .principal .area-esquerda .texto {width: 100%;}
    .widget-slide .principal .area-direita {width: 100%;}
    .widget-slide .principal .area-direita img {margin-left: 0px; width: 100%;}


}

@media print {
    #tblRegs {width: 1050px;}
		}

/* CASOS ESPECÍFICOS
------------------------- */
@media (min-width: 319px) and (max-width: 321px) {

}

@media (min-width: 359px) and (max-width: 361px) {
.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1020px}
}

@media (min-width: 374px) and (max-width: 376px) {
.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1050px}
}

@media (min-width: 383px) and (max-width: 385px) {
.miniCalendario .cabecalho{margin-left:20px;}
#saiba-mais{margin-left:105px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1080px}
}

@media (min-width: 411px) and (max-width: 413px) {
.miniCalendario .cabecalho{margin-left:38px;}
#saiba-mais{margin-left:105px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1150px}
}

@media (min-width: 479px) and (max-width: 481px) {
.miniCalendario .cabecalho{margin-left:60px;}
#saiba-mais{margin-left:150px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1360px}

}

@media (min-width: 532px) and (max-width: 534px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:287%}
.miniCalendario .cabecalho{margin-left:80px;}
#saiba-mais{margin-left:170px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1520px}
}

@media (min-width: 566px) and (max-width: 568px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:271%}
.miniCalendario .cabecalho{margin-left:90px;}
#saiba-mais{margin-left:185px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1610px}
}

@media (min-width: 599px) and (max-width: 601px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:268%}
.miniCalendario .cabecalho{margin-left:105px;}
#saiba-mais{margin-left:195px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1700px;}
}

@media (min-width: 626px) and (max-width: 628px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:265%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1730px}
}


@media (min-width: 639px) and (max-width: 641px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:262%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1760px}
}

@media (min-width: 658px) and (max-width: 661px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:259%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:240px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1790px}
}

/*MOTO G*/
@media (min-width: 662px) and (max-width: 734px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:265%}
.miniCalendario .cabecalho{margin-left:145px;}
#saiba-mais{margin-left:255px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1810px}
}

@media (min-width: 735px) and (max-width: 737px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:256%}
.miniCalendario .cabecalho{margin-left:150px;}
#saiba-mais{margin-left:265px;}

.area-banner-top-internas .area-menu-superior .area-busca-menu{min-width:1980px}
}

@media (min-width: 767px) and (max-width: 769px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:253%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}

}

@media (min-width: 799px) and (max-width: 801px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:250%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}


}

@media (min-width: 899px) and (max-width: 901px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:247%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}


}

@media (min-width: 949px) and (max-width: 951px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:244%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}


}

@media (min-width: 959px) and (max-width: 961px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:241%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}


}

@media (min-width: 1023px) and (max-width: 1025px) {
.area-banner-top .area-menu-superior .area-busca-menu{min-width:238%}
.miniCalendario .cabecalho{margin-left:125px;}
#saiba-mais{margin-left:215px;}


}
