// out: ../public/css/govdf_theme.css, sourcemap: true, compress: true

/*
Theme Name: Template CKAN - Portal de Dados Abertos
Description: Template CKAN do novo LAYOUT dos portais GDF
Author: Coordenação de Tecnologia da Informação / Diretoria de Desenvolvimento - Casa Civil / Subsecretaria de Comunicação Digital - SECOM
Version: 1.0
*/

@import "theme/variables.less";
@import "theme/mixins.less";

@import "bootstrap/mixins.less";
@import "ckan_main/variables.less";
@import "ckan_main/custom.less";
@import "ckan_main/mixins.less";
@import "ckan_main/dataset.less";
@import "ckan_main/masthead.less";

[hidden] {
  display: none;
}
code {
  color: @code-color;
  border: none;
  background: none;
  white-space: normal;
}
pre {
  border: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
}
mark {
  background: @white-three;
}
blockquote p {
  font-size: 1em;
}
iframe {
  border: none;
}
.embedded-content h1 {
  font-size: 1.4em;
}
.embedded-content h2 {
  font-size: 1.4em;
}
.embedded-content h3 {
  font-size: 1.2em;
}
.popular {
  text-indent: -999em;
}
.empty {
  color: @gray;
  font-style: italic;
}

.m-top {
  margin-top: @gutterSmallX;
}
.m-left {
  margin-left: @gutterSmallX;
}
.m-right {
  margin-right: @gutterSmallX;
}
.m-bottom {
  margin-bottom: @gutterSmallX;
}
.no-margin {
  margin: 0;
}
.reduced-margin {
  margin: 3px 5px;
}

.p-top {
  padding-top: @gutterSmallX;
}
.p-left {
  padding-left: @gutterSmallX;
}
.p-right {
  padding-right: @gutterSmallX;
}
.p-bottom {
  padding-bottom: @gutterSmallX;
}
.no-padding {
  padding: 0;
}
.reduced-padding {
  padding: 3px 5px;
}


/*
* Overriding main.css
*/

a{
	&.tag{
		color: @tag-color;
		border-radius: 0;
		background: @tag-bg-color;
		border: 1px solid @tag-border-color;
		font-weight: 600;
		box-shadow: none;

		&:hover,
		&:focus{
			color: @tag-active-color;
			background: @tag-active-bg-color;
			border-color: @tag-active-border-color;
		}
	}
}
#themes-module{
	height: auto!important;
	position: relative;
}

/** CSS RESET */
html, body, div, span, applet, object, iframe, p, blockquote, pre, abbr, acronym, address, big, code,del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
body { line-height:1; font-family: 'Open Sans', sans-serif; font-size: 14px; color:@body-color; background: @body-bg-color;}
table { border-collapse:separate; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after { content:"";}
blockquote, q { quotes:"" ""; }


a,
a:hover,
a:focus{
	color: @link-color;
}
a:hover,
a:focus{
	text-decoration: underline;
}
h2, h3, h4{
	font-family: @font-family-title;
	color: @title-color;
}
h2, h3{
	text-transform: uppercase;
}
h2{ font-size: 36px;
	margin-top:4%;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 22px;
}

.page_primary_action{
	margin: 20px 0;
}

/*
* Overriding ckan_main.css
*/

.no-margin-top{
	margin-top: 0;
}

.facet{
	margin: 10px 0;
}
.gt-content{
	p{
		line-height: 1.7em;
		margin-bottom: 30px;
		font-size: 16px;
		a{
			color: @gt-content-link-color;
			text-decoration: underline;
		}
	}

	ol{
		margin-left: 45px;
		font-size: 16px;
		margin-bottom: 30px;
		li{
			margin: 5px 0;
		}
	}
}
.hide-heading,
.js-hide{
	display: none;
}

// @import "style.less";
@import "style_tablet.less";
@import "style_desktop.less";

@import "theme/module.less";
@import "theme/media.less";
@import "theme/nav.less";
@import "theme/forms.less";
@import "theme/dataset.less";
@import "theme/search.less";
@import "theme/group.less";
@import "theme/toolbar.less";
@import "theme/prose.less";
@import "theme/icons.less";
@import "theme/layout.less";
@import "theme/homepage.less";
@import "theme/masthead.less";
@import "theme/footer.less";
@import "theme/tables.less";
@import "theme/profile.less";
@import "theme/activity.less";
@import "theme/dropdown.less";
@import "theme/dashboard.less";
@import "theme/resource-view.less";
@import "theme/datapusher.less";
@import "theme/popover.less";
