{% extends "page.html" %}

{% block subtitle %}{{ _('Contato') }}{% endblock %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    <a class=" active" href="/contato">Contato</a>
  </span>
{% endblock %}

{% block primary %}
  <div class="col-md-8 col-md-offset-2 gt-content">
    <h2 class="page-heading">{{ _('Contato') }}</h2>
    <p>Você gostou do portal? Tem dúvidas sobre alguma coisa?</p>
    <h4>Perguntas frequentes</h4>
    <p>É possível que a resposta à sua dúvida esteja esclarecida na lista de perguntas e respostas frequentes. Consulte-a e você poderá encontrar a informação que procura mais rapidamente <a href="/perguntas">Clique aqui</a>.</p>
    <h4>Contatos referentes a conjuntos de dados específicos</h4>
    <p>O Portal de Dados Abertos do Distrito Federal apenas organiza os dados abertos em um catálogo para fácil localização. Os responsáveis pelos dados são os órgãos e entidades públicas que os publicam. Sendo assim, cada uma dessas organizações deve responder pelos seus próprios dados.</p>
    <p>Se você procura mais informações ou esclarecimentos sobre um conjunto de dados específico, procure na própria página do conjunto de dados a seção “Informações Adicionais“. Nela há um campo “Autor”. Procure o nome do órgão que consta nesse campo para entrar em <a href="http://www.df.gov.br/index.php/category/sobre-o-governo/">contato</a>.</p>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}