{% extends "page.html" %}

{% block subtitle %}{{ _('O que são Dados Abertos') }}{% endblock %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    <a class=" active" href="/dados-abertos">O que são Dados Abertos</a>
  </span>
{% endblock %}

{% block primary %}
  <div class="col-md-8 col-md-offset-2 gt-content">
    <h2 class="page-heading">{{ _('O que são Dados Abertos') }}</h2>
    <p>Segundo a Fundação do Conhecimento Aberto (Open Knowledge Foundation – OKF), “dados são abertos quando qualquer pessoa pode livremente usá-los, reutilizá-los e redistribuí-los, estando sujeito a, no máximo, a exigência de creditar a sua autoria e compartilhar pela mesma licença”.</p>

    <h3>Os dados abertos são pautados por três leis  e oito princípios.</h3>

    <h4>As três leis</h4>
    <p>Elaborado por David Eaves, <a href="https://eaves.ca/2009/09/30/three-law-of-open-government-data/" target="_blank">Acesse o texto completo</a></p>
    <ol>
      <li>Se o dado não pode ser encontrado e indexado na Web, ele não existe;</li>
      <li>Se não estiver aberto e disponível em formato compreensível por máquina, ele não pode ser reaproveitado; e</li>
      <li>Se não estiver aberto e disponível em formato compreensível por máquina, ele não pode ser reaproveitado; e</li>
    </ol>

    <h4>Os oito princípios</h4>
    <p>Elaborado por OpenGovData.org, <a href="https://public.resource.org/8_principles.html" target="_blank">Acesse o texto completo</a></p>
    <ol>
      <li><strong>Completos</strong>. Todos os dados públicos são disponibilizados. Dados são informações eletronicamente gravadas, incluindo, mas não se limitando a, documentos, bancos de dados, transcrições e gravações audiovisuais. Dados públicos são dados que não estão sujeitos a limitações válidas de privacidade, segurança ou controle de acesso, reguladas por estatutos.</li>
      <li><strong>Primários</strong>. Os dados são publicados na forma coletada na fonte, com a mais fina granularidade possível, e não de forma agregada ou transformada.</li>
      <li><strong>Atuais</strong>. Os dados são disponibilizados o quão rapidamente seja necessário para preservar o seu valor.</li>
      <li><strong>Acessíveis</strong>. Os dados são disponibilizados para o público mais amplo possível e para os propósitos mais variados possíveis.</li>
      <li><strong>Processáveis por máquina</strong>. Os dados são razoavelmente estruturados para possibilitar o seu processamento automatizado.</li>
      <li><strong>Acesso não discriminatório</strong>. Os dados estão disponíveis a todos, sem que seja necessária identificação ou registro.</li>
      <li><strong>Formatos não proprietários</strong>. Os dados estão disponíveis em um formato sobre o qual nenhum ente tenha controle exclusivo.</li>
      <li><strong>Livres de licenças</strong>. Os dados não estão sujeitos a regulações de direitos autorais, marcas, patentes ou segredo industrial. Restrições razoáveis de privacidade, segurança e controle de acesso podem ser permitidas na forma regulada por estatutos.</li>
    </ol>

    <h4>Os cinco motivos para abertura dos dados</h4>
    <p><a href="http://portal.tcu.gov.br/biblioteca-digital/cinco-motivos-para-a-abertura-de-dados-na-administracao-publica.htm" target="_blank">Acesse o texto completo</a></p>
    <p>O Tribunal de Contas da União  apresenta 5 razões para que as organizações públicas invistam em iniciativas de abertura de dados governamentais:</p>
    <ol>
      <li>Transparência na gestão pública;</li>
      <li>Contribuição da sociedade com serviços inovadores ao cidadão;</li>
      <li>Aprimoramento na qualidade dos dados governamentais;</li>
      <li>Viabilização de novos negócios;</li>
      <li>Obrigatoriedade por lei.</li>
    </ol>

  </div>
{% endblock %}

{% block secondary %}{% endblock %}
