{% extends "page.html" %}

{% block subtitle %}{{ _('Mapa do site') }}{% endblock %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    <a class=" active" href="/mapa">Mapa do site</a>
  </span>
{% endblock %}

{% block primary %}
  <div class="col-md-8 col-md-offset-2 gt-content">
    <h2 class="page-heading">{{ _('Mapa do Site') }}</h2>
    <h3><a href="{{ h.url('dataset') }}">Dados</a></h3>
    <h3><a href="{{ h.url('organization') }}">Fontes de Dados</a></h3>
    <h3><a href="{{ h.url('group') }}">Temas</a></h3>
    <h3><a href="/perguntas">Perguntas frequentes</a></h3>
    <h3><a href="/outros-dados">Sugira dados</a></h3>
    <h3><a href="/contato">Contatos</a></h3>
    <h3><a href="/dados-abertos">O que são dados abertos</a></h3>
    <h3><a href="{{ h.url('about') }}">Sobre o Portal</a></h3>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}
