{% extends "page.html" %}

{% block subtitle %}{{ _('Sugira dados') }}{% endblock %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    <a class=" active" href="/outros-dados">Sugira dados</a>
  </span>
{% endblock %}

{% block primary %}
  <div class="col-md-8 col-md-offset-2 gt-content">
    <h2 class="page-heading">{{ _('Sugira Dados') }}</h2>
    <p>O Portal de Dados Abertos do Distrito Federal é o ponto central do governo para a busca e acesso a dados públicos em formato aberto. A atualização do seu conteúdo e o seu funcionamento dependem de todos os órgãos do governo, os verdadeiros detentores dos dados.</p>
    <p>O processo de abertura, publicação e catalogação de dados não é trivial, fazendo com que os órgãos tenham que priorizar quais dados devem disponibilizar primeiro.</p>
    <p>Se os dados que você procura não estão disponíveis no portal e são de responsabilidade do Poder Executivo do Distrito Federal, você poderá entrar com um pedido de acesso à informação para solicitar a disponibilização da base de dados desejada, por meio do Sistema Eletrônico do <a href="http://www.e-sic.df.gov.br">Serviço de Informações ao Cidadão - e-SIC</a>.</p>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}







Inserir o link 