{% extends "page.html" %}

{% block subtitle %}{{ _('Perguntas Frequentes') }}{% endblock %}

{% block breadcrumb_content %}
  <span property="itemListElement" typeof="ListItem" class="active">
    <a class=" active" href="/perguntas">Perguntas Frequentes</a>
  </span>
{% endblock %}

{% block primary %}
  <div class="col-md-8 col-md-offset-2">
    <article class="module">
      <div class="module-content">
        {% block asks %}        
          <h2 class="page-heading">{{ _('Perguntas Frequentes') }}</h2>
          {% snippet 'content/snippets/perguntas_text.html' %}
        {% endblock %}
      </div>
    </article>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}
